<!-- Outer Panel  -->
<form profile="showAll" nv-file-drop xt-form name="acGenInfo" no-validate class="form-validation ng-pristine ng-invalid ng-invalid-required" role="form">
<div class="panel panel-default m-t p-md p-v-xs">
  
  <!-- Top Header row -->
  <div class="row">
  
      <!-- Heading -->
      <div class="bg-white p-sm bg-chocolate">
            <i class="glyphicon glyphicon-bullhorn text-1x inline"></i>
            <span class="text-1x font-bold">General Info</span>
      </div>
      <!-- Heading .end -->
  
  </div>
  <!-- Top header row .End -->
  <!-- body row -->
  <div class="row">

    <!-- Left Half -->
    <div class="col-xs-12 col-sm-6">

      <div class="panel-body">

        <!-- course name -->
        <div class="form-group">
          
              <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="course.Name" name="courseName" xt-validate required placeholder="Name of the course">
     
        </div>

        <div class="form-group" >
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="course.Delivery.online" value="course.Delivery.online" checked>Online
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="course.Delivery.offline" value="course.Delivery.offline" checked>Offline
        </label>
        <em class="text-muted">&nbsp;(Please specifiy  the mode of delivery of the course)</em>
      </div>

        <!-- course Description -->
        <div class="form-group">
            <ng-quill-editor ng-model="course.Description"  toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" error-class="input-error"></ng-quill-editor>
            <em class="text-muted">A short description of the Course(Optional, recommended)</em>

        </div>

        <!-- Course Benefits -->
        <div class="form-group">            
            <ng-quill-editor ng-model="course.Benefits" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" editor-required="true" error-class="input-error"></ng-quill-editor> 
            <em class="text-muted">Benefits of the Course(Optional, recommended)</em> 
        </div>

        <!-- Course Image -->

      </div>

    </div>
    <!-- Left Half .End -->

    <!-- Right half -->
    <div class="col-xs-12 col-sm-6 m-t panel">

      <!-- Course domains -->
      <hierarchical-selector  ng-model="course.testDomains" data="domains" multi-select="true" on-selection-changed="course.Domains = onDomainSelectionChanged(items)" selection="{{course.testDomains}}"></hierarchical-selector>
      <em class="text-muted">Please specify Domains applicable to your course (eg: Accounting, Hospitality etc.)</em>
      <!-- Technologies -->
      <div class="form-group m-t-lg" >
                  <tags-input class="bootstrap"
                        ng-model="course.Technologies"
                        placeholder="Technologies covered (Optional, Recommended)"
                        replace-spaces-with-dashes="false" 
                        min-length="1">
                        <auto-complete source="loadTechnologies($query) | filter:$query"
                             min-length="0"
                             debounce-delay="0"                             
                        max-results="15"></auto-complete>
                </tags-input>
        <em class="text-muted">*Technologies help your course to be shown when people search courses under specific technologies</em>                
      </div>

      <!-- Tags -->
      <div class="form-group" >
              <tags-input  ng-class="{'no-border':course.tagsToBeSaved.length}" class="bootstrap"
                        ng-model="course.Tags"
                        placeholder="Tags (Optional, Recommended)"
                        replace-spaces-with-dashes="false" 
                        min-length="1">
                        <auto-complete source="loadTags($query) | filter:$query"
                             min-length="0"
                             debounce-delay="0"                             
                        max-results="15"></auto-complete>
                </tags-input>
      </div>
        <!-- Availability -->
      <div class="form-group" >
        <label class="radio-inline">
          <input type="radio" name="Branches" ng-click="specificBranches=false" id="inlineRadio1" checked> All Branches
        </label>
        <label class="radio-inline">
          <input type="radio" name="Branches" ng-click="specificBranches=true" id="inlineRadio1" value="option1"> Specific Branches
        </label>
        <em class="text-muted">&nbsp;(Please specifiy  to which all branches this course is available)</em>
        <hierarchical-selector ng-if="specificBranches" ng-model="course.branchDetails" data="branchDetails" multi-select="true" class="am-fade" on-selection-changed="selectedItem2 = onBranchSelectionChanged(items)"></hierarchical-selector>
      </div>

      <div class="form-group col-xs-11 pull-right">
        <label class="radio-inline">
          <input type="radio" name="Accessibility" ng-click="specificAccessibility=false" id="inlineRadio1" value="option1" checked>Public
        </label>
        <label class="radio-inline">
          <input type="radio" name="Accessibility" ng-click="specificAccessibility=true" id="inlineRadio1" value="option1"> Private
        </label>
        <em class="text-muted">&nbsp;(Please specify who all in the selected branches has access to the course)</em>
        <hierarchical-selector ng-if="specificAccessibility" ng-model="course.branchDetails" data="rolesDetails" multi-select="true" class="am-fade" on-selection-changed="selectedItem2 = onRoleSelectionChanged(items)"></hierarchical-selector>

      </div>

      <!-- Availability -->

      <!-- course image -->
       <div class="form-group col-sm-6 no-padding" >
        <input f-max-size="500" src-obj="course.courseImg" type="file" fileupload-dir="course.Img" id="exampleInputFile" ng-model="course.Img" ng-multiple="false" accept="image/*" resetOnClick="true" data-placement="top" data-html="true" data-container="body" data-title="Please select an image to represent the course"  bs-tooltip>
        <em ng-hide="imageSrc">Please select an image to represent the course</em>
        <img class="img-responsive img-thumbnail m-xs" ng-src="{{course.courseImg}}" />
        
      </div>
    </div>
    <!-- Right half .End -->
  </div>
  <!-- body row .End -->


<!-- Footer row   -->
<div class="row">
  <div class="col-xs-12 m-b">
    <footer class="text-right">
     <button type="submit" class="btn btn-info" ng-disabled="acGenInfo.$invalid || !valid" disabled="disabled" ng-click="completeStep1(course);" >Next</button>
    </footer>   
  </div>
</div>
<!-- footer row .End -->

</div>
</form>
<!-- outer panel .End