<div class="panel panel-default m-t p-md p-v-xs">
  
  <!-- Top Header row -->
  <div class="row">

    <!-- Heading -->
    <div class="bg-gold-dark p-sm">
      <i class="glyphicon glyphicon-bullhorn text-1x inline"></i>
      <span class="text-1x font-bold">General Info</span>
    </div>
    <!-- Heading .end -->

  </div>
  <!-- Top header row .End -->

  <!-- body row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-body">

            <div class="col-xs-12 am-fade">
              <course-timeline total-duration="totalCourseDuration" ddl-bind-object="ddlBindObject" callback-functions="tlPopOver" sync-data="courseDetails" tl-elements="[['exitPoints','exitPointList']]" err-tooltip = "errTooltip" valid = "valid">
          </course-timeline>
            </div>
      </div>
    </div>
  </div>
</div>