<div class="col-xs-12 bg-light">

	<div class="row bg-white baab-shadow fixed-tab">
		<div class="col-xs-2 p-v-sm " >
			<user-card class="m-t-xs" user-id="assignCourseObj.userrmId"></user-card>
		</div>
		<div ng-show="batchObj.selectedCourseList.length" class="col-xs-10 col-md-4 text-right">
			<span class="font-bold">{{batchObj.selectedCourseList.length}} selected</span>
			&nbsp;&nbsp;<a class="btn btn-success baab-btn"  ng-click="assignCourseMaterials4Batch()" translate="{{'Assign'|translate}}" ></a>
		</div>
	    
  	</div>

	<div class="row" style="margin-top:60px;">
		<div class="b-r p-v bg-white col-md-6">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-5 ">
							<div class="font-bold">Materials to assign</div>
							<div class="text-warning">Click on the Materials to assign tasks</div>
						</div>
						<div class="col-xs-7 ">
							<a class="btn btn-primary baab-btn no-margin" data-animation="am-flip-x" bs-dropdown="assignCourseObj.courses" data-placement="bottom-right" html="true" aria-haspopup="true" aria-expanded="false">{{batchObj.courseName?batchObj.courseName:"Course"}}</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 bg-white no-padding">
						<div  class="link col-xs-12 col-sm-6 col-md-6" data-ng-repeat="element in batchObj.unAssignedList">
							<!-- class="btn-material-green-A400" -->
							 <material-preview ng-class="{'btn-material-green-A400':element.ticked}" ng-click="clickedOnElement(element)"  data="element.courseElement"></material-preview> 
						</div>
					</div>
					<div  class="col-xs-12 bg-warning font-bold p b shadow-z-1" ng-if="!batchObj.unAssignedList.length && batchObj.unAssignedList">
					No materials to assign
					</div>
			</div>
		</div>
		<div class="p-v bg-white col-md-6">
			<div class="row">
				<div class="col-xs-12">
					<div class="font-bold">Assigned materials</div>
				</div>
				<div  class="link col-xs-12 col-sm-6 col-md-6" data-ng-repeat="element in batchObj.assignedList">
					<material-preview   data="element.courseElement"></material-preview> 
				</div>
			</div>
		</div>
	</div>
</div>