<div class="col-xs-12">
  <div class="panel b-info b-2x">
    <div class="panel-heading p-sm bg-info">
      <a href="" class="text-md text-ellipsis"><i class="fa fa-recycle fa-1x m-r"></i>Drafted Courses</a>
    </div>
    <div class="panel-body p-sm">
      <div class="col-xs-12" ng-if="WarringMessage.length && WarringMessage != undefined">
        <div id="alerts-container" class="animated fadeIn">
          <div class="alert ng-scope am-fade alert-button bg-danger lt" ng-class="[type ? 'alert-' + type : null]" style="display: block;"><!-- ngIf: dismissable -->
            <span class="ng-binding">{{WarringMessage}}</span>
            <i class="ti ti-face-sad text-lg"></i>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 m-t" ng-repeat="course in draftedCourses" ng-if="draftedCourses.length">
        <div class="panel b-light">
        <div class="panel-heading">
          <a title="click to delete this course" class="pull-right text-muted m-r-xs" ng-click="deleteCourseDetails(course._id.$oid)"><i class="fa fa-trash"></i></a>
            <a title="click to edit this course" class="pull-right text-muted m-r-xs" ng-click="editCourseDetails(course._id.$oid)"><i class="fa fa-edit"></i></a>
        </div>
        <div class="panel-body">
          <div ng-if="course.courseImg" class="pull-left pull-none-sm text-center m-r-xs">
             <img class="img-responsive img-thumbnail w-xs" src="{{course.courseImg}}" alt="Washed Out">
          </div>
          <div class="clear m-l">
            <div class="text-2x font-bold" title="{{course.Name}}">{{course.Name | limitTo : 14}}</div>
            <!-- <small class="text-muted">Peaked at 14:30 Mon</small> -->
          </div>
        </div>
      </div>
<!-- 
      <md-content ng-if="draftedCourses.length" layout="row" layout-align="space-around center" layout-wrap >
      <md-card ng-repeat="course in draftedCourses" layout="column" flex-sm="95" flex-gt-sm="45" flex-gt-md="30">
        <img src="img/washedout.png" alt="Washed Out">
        <md-card-content>
        <h2>Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
    </md-card>
  </md-content> -->