
<div ng-if="courseData" class="container-fluid shadow-z-1 bg-light" >

  <!-- course header -->
  <div class="row random-background-color shadow-z-1" id="courseHeaderBg">
    <div class="col-xs-12 m-h-n">
        <div class="col-xs-3 p-v">
          <img class="img-responsive bg-white" style="width:100%;" ng-src="{{courseData.courseImg}}" />
        </div>
        <div class="col-xs-9">
          
          <!-- course Name -->
          <div class="row p">
            <h1 class="text-white">{{courseData.Name}}</h1>
          </div>
          

          <!-- Details -->
          <div class="row font-bold">
            <div class="col-xs-12">              

              <!-- Tile -->
              <div parent="courseHeaderBg" class="col-xs-12 col-sm-5 random-background-color p m shadow-z-1">
                <i class="mdi-device-access-time text-2x col-xs-1" ></i>
                <div class="pull-left col-xs-11 m-v-xs">{{prettyDuration}}</div>
               
      <div class="col-xs-12" >
        <div class="panel b-t b-00C853 bg-light dk ng-scope" >
          <div class="panel-heading font-bold text-white bg-00C853 p baab-shadow" >
            {{courseData.Name}}
          </div>
          <div class="panel-body" >
              <span class="course-description" ng-bind-html="courseData.Description"></span>
              <div class="text-warning" ng-repeat="(key, val) in courseData.Duration.DurationDetails">
                Duration: {{ val+" "+ key}}
              </div>
              <div class="col-xs-12 text-center">
                  <button class="btn  btn-success b-3x baab-btn" ng-click="navigateToTimeline(courseData.fkCourseId)">Take me to this course</button> 
              </div>
              <!-- End. Tile -->

              <!-- Tile -->
              <div parent="courseHeaderBg" class="col-xs-12 col-sm-5 random-background-color p m shadow-z-1">
                <i class="mdi-device-developer-mode text-2x col-xs-1" ></i>
                <div class="pull-left col-xs-11 m-v-xs">{{prettyDuration}}</div>
                
              </div>
              <!-- End. Tile -->

              
             
            </div>
          </div>
          <!-- End. Details -->


        </div>
    </div>
  </div>
  <div class="row">
    {{courseData.Technologies}}
  </div>

     </div>

</div>