    <div class="col-xs-12" >
      <div class="panel b-info b-2x" >
        <div class="panel-heading p-sm bg-info" >
          <a href="" class="text-md text-ellipsis"><i class="fa fa-globe fa-1x m-r"></i>Published Course</a>
        </div>
<div class="panel-body p-sm" >

<!-- 
          <md-content layout="row"  layout-wrap layout-align="space-around center" >
              <md-card ng-repeat="course in publishedCourses" flex-sm="95" flex-gt-sm="30" >
                <img src='{{course.courseImg}}' alt="Washed Out">
                <md-card-content >
                
                   <a ng-click="navigateToCourse(course._id.$oid)" ><h2>
                   {{course.Name |uppercase| limitTo : 20}}
                   </h2> 
                   </a>
                  <p>
                    
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                  </p>
                  <md-divider >
                  
                  <md-button ng-click="editCourse(course._id.$oid)"><i class="fa fa-edit"></i></md-button>
                  <md-button ng-click="deleteCourseDetails(course._id.$oid)"><i class="fa fa-trash"></i></md-button>
                  </md-divider>
                 </md-card-content> 
                </md-card>
            </md-content></div> -->

          <!-- <md-content class="row-fluid bg-white" > -->
                <div class="col-xs-12 col-sm-6 col-md-4 b" ng-repeat="course in publishedCourses">
                 <div  class="pull-right">
                          <a href="" ng-click="editCourse(course._id.$oid)"><i class="fa fa-edit"></i></a>
                          <a href="" ng-click="deleteCourseDetails(course._id.$oid)"><i class="fa fa-trash"></i></a>
                  </div>
                  <div class="row-fluid" >
                 
                    <div class="col-xs-3 hidden-xs  ">                    
                        <img src='{{course.courseImg}}' class="b" >

                    </div>
                     <div class="col-xs-8">
                        <div >
                           <a title="{{course.Name}}" ng-click="navigateToCourse(course._id.$oid)" ><h2>
                           {{course.Name |uppercase| limitTo : 10}}{{course.Name.length > 10 ? '...' : ''}}
                           </h2> 
                           </a>

                        </div> 
                    </div> 
                  </div>                
            </div>
      </div>
   </div>
   </div>
