<!--       <div class="col-xs-12" >
        <div class="panel b-info b-2x" >
          <div class="panel-heading p-sm bg-info" >
            <a href="" class="text-md text-ellipsis"><i class="fa fa-globe fa-1x m-r"></i>Published Course</a>
          </div>
                <div class="panel-body p" >

                  <div class="col-xs-12 col-sm-6 col-md-4 b p" ng-repeat="course in publishedCourses" >
                   <div  class="pull-right">
                            <a href="" ng-click="editCourse(course._id.$oid)"><i class="fa fa-edit"></i></a>
                            <a href="" ng-click="deleteCourseDetails(course._id.$oid)"><i class="fa fa-trash"></i></a>
                    </div>
                    <div class="row" >
                   
                      <div class="col-xs-3 hidden-xs">                    
                          <img src='{{course.courseImg}}' class="img-responsive" >

                      </div>
                       <div class="col-xs-8">
                          <div >
                             <a title="{{course.Name}}" ng-click="navigateToCourse(course._id.$oid)" ><h2>
                             {{course.Name |uppercase| limitTo : 10}}{{course.Name.length > 10 ? '...' : ''}}
                             </h2> 
                             </a>

                          </div> 
                      </div> 
                    </div>                
              </div>
        </div>
     </div>
     </div>
 -->

  <div class="panel b-t b-00C853 bg-light dk">
    <div class="panel-heading font-bold text-white bg-00C853 p baab-shadow">Published Course</div>
    <div class="col-xs-12">
       <div class="col-xs-4">
       </div>
       <div class="col-xs-4">
        <div class="form-group">
           <input class="form-control floating-label" id="focusedInput" type="text" ng-model="searchCourse" ng-change="searchCoursesAvailable(searchCourse)"  placeholder="Search Course" >
        </div>             
       
       </div>   
          <div class="col-xs-4">
            <div class="pull-right m-r p">
             <div class="btn-group" style="margin-top: 4px;">
               <button type="button" class="btn btn-xs btn-default" ng-click="prevOne()" title="Next"><i class="fa fa-fw fa-angle-left"></i><div class="ripple-wrapper"></div></button>
              <button type="button" class="btn btn-xs btn-default" ng-click="nextOne()" title="Previous"><i class="fa fa-fw fa-angle-right"></i><div class="ripple-wrapper"></div></button>
           </div> 
                   
     
            </div> 
          </div>  

    </div> 
      <div  class="panel-body">
          
           <div class="col-xs-12" >
           <div  masonry='{ "transitionDuration" : "0.8s" , "itemSelector" : ".tile"}'>
           <div masonry-tile class="tile col-xs-6 col-sm-4 col-md-3 col-lg-3 pull-left masonry-brick" ng-repeat="course in publishedCourses.courses">            
            <div class="panel course-box" ng-click="viewCourseDetails(course._id.$oid)">
                 <div class="p">

                  <!-- <core-tooltip label="Delete Course" position="top" class="pull-right">
                    <core-icon-button icon="delete" class="pull-right text-muted" ng-click="deleteCourseDetails(course._id.$oid)"></core-icon-button>
                  </core-tooltip>
                   <core-tooltip label="Edit Course" position="top" class="pull-right">
                    <core-icon-button class=" text-muted" icon="create" ng-click="editCourse(course._id.$oid)"></core-icon-button>
                   </core-tooltip>  -->
                   <button ng-click="deleteCourseDetails(course._id.$oid)" class="btn btn-default pull-right no-margin"><i class="mdi-action-delete text-lg " ></i></button>

                   <button ng-click="editCourse(course._id.$oid)" class="btn btn-default pull-right no-margin"><i class="mdi-image-edit text-lg" ></i></button>


                 </div>
                 <div class="panel-body ">       
                           
                                <img ng-src="{{ course.courseImg }}" >
                            
                    
                           <div class="font-bold text-black p-v-xs m-h-sm">{{course.Name}}</div>
                           <div class="text-black  course-description text-muted content-limiter "ng-bind-html="course.Description"></div>
                      
                 </div>
            </div>
           </div>
           </div>
           </div>
          </div> 
      </div>
  

  

 