      <div class="col-xs-12" >
        <div class="panel b-danger b-2x" >
          <div class="panel-heading p-sm bg-danger" >
            <a href="" class="text-md text-ellipsis"><i class="fa fa-globe fa-1x m-r"></i>Courses</a>
          </div>
          <div class="panel-body p-sm text-center" >

                  <div class="col-xs-12 col-sm-5  b m-xs" ng-repeat="course in courses" ng-click="navigateToDetails(course._id.$oid)">
                   <div  class="pull-right">
                    </div>
                    <div class="row-fluid" >
                   
                      <div class="col-xs-3 hidden-xs  ">                    
                          <img src='{{course.courseImg}}' class="img-responsive" >

                      </div>
                       <div class="col-xs-8">
                          <div >
                             <a title="{{course.Name}}" ><h2>
                             {{course.Name |uppercase| limitTo : 12}}{{course.Name.length > 12 ? '...' : ''}}
                             </h2> 
                             </a>


                          </div> 
                      </div> 
                    </div>                
              </div>
        </div>
     </div>
     </div>