      <div class="col-xs-12" >
        <div class="panel b-warning b-2x" >
          <div class="panel-heading p-sm bg-warning" >
            <a href="" class="text-md text-ellipsis"><i class="fa fa-globe fa-1x m-r"></i>Published Course</a>
          </div>
          <div class="panel-body" >
              <div class="col-xs-12 bg-light p">
              <a title="{{courseData.Name}}" ><h2 class="text-danger">
                             {{courseData.Name|uppercase}}
                             </h2> 
              </a>
              <span class="course-description" ng-bind-html="courseData.Description"></span>
              <div class="text-warning" ng-repeat="(key, val) in courseData.Duration.DurationDetails">
              	Duration: {{ val+" "+ key}}
              </div>
              <div class="col-xs-12 text-center">
          				<button class="btn  btn-success b-3x" ng-click="navigateToTimeline(courseData.fkCourseId)">Gettin this course</button>	
              </div>
              </div>
           
        </div>
     </div>
</div>