<div class="bg-light">
	<div class="container">
		<div class="row p-v" >
			<div class="col-md-12">
				<div class="panel">
					<div class="p-v-sm p bg-white b-b">
						<h4>Course Subject Importation</h4>
					</div>
					<div class="panel-body no-padding-v">
						<div class="form-group">
				            	<div class="row">
				                	<div class="col-sm-4">
				                		<label>Course {{courseSubjectObj.newCourseSubject.courseId}}</label>
				                		<class-room-loader required course-name="batchObj.newBatch.batchCourseName" class="no-padding-h" ng-model="courseSubjectObj.newCourseSubject.courseId" >
				                		</class-room-loader>
				                	</div>
				              </div>
			            	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
