<!-- Steps -->
<div class="col-xs-12 container text-center">
	<div class="col-xs-4" style="cursor: pointer;" ng-click="nextPart('home.main.addCourse.step1')">
		<span class="tl-instance hidden-xs w-lg p-md " ng-class="{'bg-chocolate':currentState=='home.main.addCourse.step1'}">
			<i class="fa fa-bullhorn text-2x "></i>
			<span>General Info</span>
		</span>
		<span class="tl-instance w-xs p-md visible-xs" ng-class="{'bg-chocolate':currentState=='home.main.addCourse.step1'}">
			<i class="fa fa-bullhorn text-2x"></i>
		</span>
	</div>
	<div class="col-xs-4" style="cursor: pointer;" ng-click="nextPart('home.main.addCourse.step2')">
		<span class="tl-instance  hidden-xs w-lg p-md " ng-class="{'bg-baabtra-green':currentState=='home.main.addCourse.step2'}">
			<i class="fa fa-clock-o text-2x "></i>
			<span>Duration & Fee Settings</span>	
		</span>
		<span class="tl-instance w-xs p-md visible-xs" ng-class="{'bg-baabtra-green':currentState=='home.main.addCourse.step2'}">
			<i class="fa fa-clock-o text-2x"></i>
		</span>
	</div>
	<div class="col-xs-4" style="cursor: pointer;" ng-click="nextPart('home.main.addCourse.step3')">
		<span class="tl-instance  hidden-xs w-lg p-md " ng-class="{'bg-gold-dark':currentState=='home.main.addCourse.step3'}">
			<i class="fa fa-puzzle-piece text-2x "></i>
			<span>Design Course</span>	
		</span>
		<span class="tl-instance w-xs p-md visible-xs" ng-class="{'bg-gold-dark':currentState=='home.main.addCourse.step3'}">
			<i class="fa fa-puzzle-piece text-2x"></i>
		</span>
	</div>
</div>

<!-- Steps .End -->
	
<div name="addCourse-container" class="app-content" role="main" ui-view></div>

<div class="bg-white p">
	
<!-- /#header -->

<!-- #site-container -->
<div id="site-container" class="clearfix">
<!-- #primary -->
<section id="primary" class="sidebar-off clearfix"> 
  <!-- #content -->
  <div id="content" role="main">
  
<ul id="timeline" class="clearfix">
<li class="animated fadeInUp">

<article id="post-78" class="post-78 post type-post status-publish format-quote has-post-thumbnail hentry category-category-trio tag-post-format tag-quotes has_thumb clearfix">

 
<span class="entry-date"><span class="entry-meta-date"><time datetime="2013-07-13T11:20:34+00:00">2 years ago</time></span></span>

<!-- .hentry-box -->
<div class="hentry-box">

    <figure class="entry-quote-image">   
	
	<img width="800" height="533" src="images/Dog01.jpg" class="attachment-post wp-post-image" alt="Bay Bridge (#102224)_4350170444_l" />	  
	<figcaption class="entry-quote-caption">
    
    <div class="caption-content">
    <blockquote class="entry-quote">
    <p>Hard times don't create heroes. It is during the hard times when the 'hero' within us is revealed.</p>
		<cite>Bob Riley</cite>	
	    </blockquote>
    </div>
	</figcaption>
	
	</figure>
	

<!-- /.hentry-box -->
</div>

  
<footer class="entry-footer">
<ul>
<li><i class="icon-link"></i><a href="quote-post-format-with-image/index.html">View Post</a></li>
</ul>
</footer>
  

</article></li>
<li class="animated fadeInUp">

<article id="post-51" class="post-51 post type-post status-publish format-gallery hentry category-category-uno category-uncategorized tag-gallery tag-image tag-photo clearfix">

 
<span class="entry-date"><span class="entry-meta-date"><time datetime="2013-07-12T19:58:03+00:00">2 years ago</time></span></span>

<!-- .hentry-box -->
<div class="hentry-box">

	<div class="entry-gallery">  
	<ul class="clearfix"> 
		<li>
	<figure class="entry-thumb">
	<img src="images/MG_40018_2125579117_l-800x532bbfb.jpg?d6b1d9" width="800" height="532" alt="" />
	<figcaption class="entry-thumb-caption">
	<div class="caption-content">
	<a class="caption-link" href="images/MG_40018_2125579117_lbbfb.jpg?d6b1d9" rel="nofollow" title="Gallery Photo Caption."><i class="icon-search"></i></a>
	<h3 class="caption-title">Gallery Photo Caption.</h3>	</div>
	</figcaption>
	</figure>
	</li>

		<li>
	<figure class="entry-thumb">
	<img src="images/Flight-91025_3645022109_l-800x532bbfb.jpg?d6b1d9" width="800" height="532" alt="" />
	<figcaption class="entry-thumb-caption">
	<div class="caption-content">
	<a class="caption-link" href="images/Flight-91025_3645022109_lbbfb.jpg?d6b1d9" rel="nofollow" title="Fluttered."><i class="icon-search"></i></a>
	<h3 class="caption-title">Fluttered.</h3>	</div>
	</figcaption>
	</figure>
	</li>
		<li>
	<figure class="entry-thumb">
	<img src="images/IMG_19241_426386997_l-800x532bbfb.jpg?d6b1d9" width="800" height="532" alt="" />
	<figcaption class="entry-thumb-caption">
	<div class="caption-content">
	<a class="caption-link" href="images/IMG_19241_426386997_lbbfb.jpg?d6b1d9" rel="nofollow" title="Room with a view."><i class="icon-search"></i></a>
	<h3 class="caption-title">Room with a view.</h3>	</div>
	</figcaption>
	</figure>
	</li>
		<li>
	<figure class="entry-thumb">
	<img src="images/Silent-Night-71772_3137728868_l-800x532bbfb.jpg?d6b1d9" width="800" height="532" alt="" />
	<figcaption class="entry-thumb-caption">
	<div class="caption-content">
	<a class="caption-link" href="images/Silent-Night-71772_3137728868_lbbfb.jpg?d6b1d9" rel="nofollow" title=""><i class="icon-search"></i></a>
		</div>
	</figcaption>
	</figure>
	</li>
		<li>
	<figure class="entry-thumb">
	<img src="images/Sutro-Ruins-16990_4217569596_l-800x533bbfb.jpg?d6b1d9" width="800" height="533" alt="" />
	<figcaption class="entry-thumb-caption">
	<div class="caption-content">
	<a class="caption-link" href="images/Sutro-Ruins-16990_4217569596_lbbfb.jpg?d6b1d9" rel="nofollow" title=""><i class="icon-search"></i></a>
		</div>
	</figcaption>
	</figure>
	</li>
		</ul> 
	</div>
	

<!-- /.hentry-box -->
</div>

  
<footer class="entry-footer">
<ul>
<li><i class="icon-link"></i><a href="gallery-post-format/index.html">View Post</a></li>
 
<li><i class="icon-comment"></i><a href="gallery-post-format/index.html#comments" title="Comment on Gallery Post Format">3 Comments</a> 
</li>
</ul>
</footer>
  
 
</article></li>
<li class="animated fadeInUp">

<article id="post-46" class="post-46 post type-post status-publish format-video hentry category-category-trio tag-audio tag-media tag-video clearfix">

 
<span class="entry-date"><span class="entry-meta-date"><time datetime="2013-07-12T19:54:10+00:00">2 years ago</time></span></span>

<!-- .hentry-box -->
<div class="hentry-box">

	<figure class="entry-video">  
	<iframe src="http://player.vimeo.com/video/68037726" width="450" height="199" frameborder="0" title="Ladi6 - Shine On" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>	</figure>
	

<!-- /.hentry-box -->
</div>

  
<footer class="entry-footer">
<ul>
 
<li><i class="icon-comment"></i><a href="video-post-format-embeded/index.html#respond" title="Comment on Video Post  Format (Embeded)">Add Comment</a> 
</li>
</ul>
</footer>
  

</article></li>
</ul>
</footer>
  

</article></li>

</ul>
</div>
<!-- /#content -->

</section>
<!-- /#primary -->


</div>
<!-- course stream line -->
	<!-- <course-streamline sync-data="course">
	</course-streamline> -->
</div>
 
