<div class="col-xs-12">
	<div class="panel b-light">
		<div class="panel-heading text-md text-ellipsis font-bold bg-info">Drafted Courses</div>
		<div class="panel-body">
	<div class="col-md-4" ng-repeat="course in draftedCourses">
      <div class="box">
        <div class="box-row">
          <div class="box-cell scrollable hover">
            <div class="box-inner" style="height: 116px;!important">
              <div class="list-group list-group-md no-border no-radius no-margin">
                <div class="list-group-item select">
                  <a href="" class="w-thumb-md pull-left m-r"><img src="images/a1.jpg" class="img-responsive"></a>
                  <div class="clear m-b-sm">
                  	<a class="pull-right text-muted" ><i class="fa fa-trash"></i></a>
                  	<a class="pull-right text-muted m-r-xs" ng-click="editCourseDetails(course._id.$oid)"><i class="fa  fa-edit"></i></a>
                    <span class="pull-right text-muted text-xs">10:34 PM
                      <label class="ui-checks m-l-sm"><input type="checkbox"><i></i></label>
                    </span>
                    <div>Eric Dane</div>
                    <a href="" class="text-md text-ellipsis">{{course.Name}}</a>
                  </div>
                  <small class="text-muted course-description" ng-bind-html="course.Description"></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
		</div>
	</div>
</div>