


<div class="p-h-sm p-v-sm bg-white box-shadow " >
  <h4 class="no-margin">Manage company roles </h3>
</div>

<div class="panel col-md-12 bg-white animated fadeInRight p-sm b-b-danger b-b-3x"  >
	
	<div class="col-md-4 " style="padding-left: 0px">
		 <form name="Form_Adding_form" ng-submit="AddCompanyRole()" class="form-validation" role="form" xt-form novalidate>
		 		<md-input-container flex>
		 			<label>Name of the Role</label>
					<input type="text" ng-model="roleName">
				</md-input-container>
				<md-input-container flex>
					<label>Enter a description for the role</label>
					<textarea class="form-control text-sm bg-white" rows="3" xt-validate required ng-minlength="7" name="roleDesc" ng-model="RoleDesc"></textarea>
				</md-input-container> 
				<div class="form-group" layout="row" layout-align="space-between end">
					<md-button class="md-raised md-warn" type="reset" style="">cancel</md-button>		
					<md-button class="md-raised md-primary md-hue-2" ng-disabled="Form_Adding_form.$invalid || progress" type="submit" style="">{{btnRoleAdd}} </md-button>
		        </div>
			
		 </form>
	</div>	
</div>

<div class="p-h-sm p-v-sm bg-white box-shadow " >
  <h4 class="no-margin">Existing roles</h3>
</div>

<div class="panel col-md-12 p-v-lg bg-white b-b-success p-l-sm b-b-5x scrollmodel" style="height: 320px;overflow: auto;" >
	<div class="col-sm-4" style="padding-left: 0px;" ng-repeat="roleData in roles" >
			<a href=""><span class="pull-right" data-title="Remove role!" ng-click="deleteRole(roleData,$index)" bs-tooltip> <i  class="ui-icon ti-trash p-sm"></i></a> </span>
	<div class="panel bg-white " style="box-shadow: 0 5px 10px rgba(0, 0, 0, .2);">
		
			<div class="panel p r-2x b-l-success text-1x font-bold b-l-5x inline clear">
	  			<a href="" class="Rolelink" editable-text="roleData.roleName" onaftersave="updateUserRole('roleName',roleData,$data)"  e-required e-placeholder="Enter role"> {{roleData.roleName}} </a>
	  		</div>
  			<small class="clear pull-none-sm text-dk p r-1x "><a href="" class="RoleDesc " style="color:#777777;" editable-text="roleData.roleDescription" onaftersave="updateUserRole('roleDescription',roleData,$data)" e-required e-placeholder="Enter role description">{{roleData.roleDescription}}</a> </small>
  		</div>

	</div>
</div>

