<div id="content" class="app-content ng-scope animated flipInX" role="main" ui-view="">
  <div class="p-h-md p-v bg-white box-shadow pos-rlt ng-scope">
  <h3 class="no-margin">Manage Company</h3>
</div>
<div class="box ng-scope">
  <div class="col-md-3">
    <div style="background:url(images/a1.jpg) center center; background-size:cover">
      <div class="p-lg bg-white-opacity text-center">
        <a href="" class="w-xs inline">
          <img src="images/a1.jpg" class="img-circle img-responsive">
        </a>
        <div class="m-b m-t-sm h2">
          <span class="text-black" ng-bind="companySelected.companyName"></span>
        </div>
        <p>
          <span class="text-black" ng-bind="companySelected.eMail"></span>
        </p>
      </div>
    </div>
    <ul class="nav nav-list b-t" ui-nav="">
      <li >
        <a ng-href="#home/company/manage/company-info/{{companyId}}">Manage Company Info</a>
      </li>
      <li>
        <a href="">Manage Roles</a>
      </li>
    </ul>
  </div>
  
  <div name="info" class="app-content" role="main" ui-view>
  </div>
</div>
</div>