<div class="row">
	<div class="col-sm-12">
      	<div class="panel b-light">

            <div class="panel-body p-sm bg-light lt">
            	<div class="col-sm-12">
      <form name="Job" class="form-validation ng-pristine ng-invalid ng-invalid-required">
        <div class="panel shadow-z-1">
        	<div class="p bg-primary text-white font-bold">
            Post a job
          </div>
          <div class="panel-body">                   
            <div class="form-group m-h-n clearfix">
              <div class="col-sm-12">                 
                <input type="text" class="form-control floating-label" placeholder="Job Title" ng-model="Job.Tittle" required>
              </div>
            </div>
            <div class="form-group">              
              <textarea class="form-control floating-label" rows="5"placeholder="Job Description" ng-model="Job.Description" required></textarea>
            </div>
            <div class="form-group">           
              <textarea class="form-control floating-label" rows="4" placeholder="Qualification" ng-model="Job.Qualification" required></textarea>
            </div>
            <div class="form-group m-h-n clearfix">
              <div class="col-sm-6">
             
              <div class="row">
              	<div class="col-sm-6 col-xs-6">
				<input type="number" class="form-control floating-label" placeholder="Minimum Salary" ng-model="Job.minSalary" ui-validate="'$value>=.1'">
            </div>
            <div class="col-sm-6 col-xs-6">
                <input type="number" class="form-control floating-label ng-valid-number ng-invalid-valida" placeholder="Max Salary" ng-model="Job.maxSalary" ui-validate="'$value>Job.minSalary' ">
            </div>
            </div>
              </div>
           <div class="col-sm-6">                
                <input type="text" class="form-control floating-label" placeholder="Location" ng-model="Job.Location" required>
              </div>
            </div>
            <div class="form-group">             
                <input type="text" class="form-control floating-label" placeholder="Use commas to separate tags." ng-model="Job.Tag">
            </div>
          </div>
          <footer class="panel-footer text-right">
            <button type="button" ng-click="PostJob()" class="btn btn-info baab-btn" ng-disabled="Job.$invalid" disabled="disabled">Post Job</button>
          </footer>
        </div>
      </form>
    </div>
            </div>
        </div>
    </div>
</div>