<div class="p-h-md">
  <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <form name="menuDetails" role="form"  class="form-validation ng-pristine ng-invalid ng-invalid-required">
          	  <div class="form-group m-h-n clearfix">
              <div class="col-sm-6">
                <h4 class="no-margin m-b">Menu Name</h4>
                <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" placeholder="Menu Name" ng-model="menu.MenuName" required>
              </div>
           <div class="col-sm-6">
                <h4 class="no-margin m-b">Menu Link</h4>
                <input type="text" class="form-control" placeholder="Menu Link" ng-model="menu.MenuLink">
             </div>
             <div class="col-sm-6 m-t">
                <h4 class="no-margin m-b">Actions</h4>
                <div class="m-h-n">
                <div class="col-sm-6">
                <input type="text" class="form-control" placeholder="Aaction Name" ng-model="menu.actionName">
              </div>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="State Name" ng-model="menu.stateName">
              </div>
              <div class="col-sm-1" style="margin-top: 3px;margin-left: -18px;cursor: pointer;" ng-click="addActtion()">
                   <i class="fa fa-plus-circle fa-2x pull-left"></i>
              </div>  
              </div>

              </div>
                    <div class="col-lg-6 m-t">
            <h4 class="no-margin m-b-md m-r">Menu Icon</h4>
            <i class="ui-icon fa {{menu.menuIcon}} ui-iconnfo text-lg"></i>
            <a ng-click="GetIcon()" class="">Change Icon</a>
          </div>
            </div>
            <div class="m-h-n  m-t clearfix">
            <div class="col-sm-6">
              <ul class="nav nav-sm nav-pills m-b" ui-nav="">
                <li class="active m-r-xs" ng-repeat="action in menu.actions">
                  <a ng-click="editAction(action,$index)">{{action.actionName}}<button type="button" class="close" style="margin-top: -2px;margin-left: 2px;" ng-click="removeAction($index)">×</button></a>
                </li>
              </ul>
            </div>
          </div>
            <div class="m-h-n  m-t clearfix">

                    <div class="col-lg-12">
          <button ng-click="AddMenu()" class="btn btn-info pull-right btn-sm p-h font-bold" ng-disabled="menuDetails.$invalid">{{opt_type}}</button>
        </div>
          </div>

      </form>
      </div>
      </div>
      </div>
      </div>
      <div class="p-h-md">
      <div class="row">
      <div class="panel panel-default">
          <a ng-mouseover="Over=true"  ng-mouseleave="Over=false" ng-repeat="menu in allMenus" class="m-md text-sm btn btn-lg bg-light m-r">
          <i class="fa {{menu.menuIcon}} fa-3x pull-left"></i>
          <span class="block clear text-left m-v-xs"><b class="text-lg block font-bold">{{menu.MenuName}}</b>
          </span>
          <i ng-click="editMenu(menu)" class="fa pull-right fa-1x text-lt" style="cursor: pointer;" ng-class="{'fa-pencil':Over}"></i>
        </a>
      <div class="panel-body">
      </div>
      </div>
      </div>
      </div>
              
              