<div class="col-xl-12 ">
  <div class="panel panel-default">
    <br>
    <span class="pull-right">
    <a class="btn btn-lg btn-primary" ng-href="#/home/main/company">Registered Companies</a> </span> 
    <div class="panel-heading bg-white">
        <br>
        <br>
         <h3> Company Registration</h3>
        
    </div>
    <div class="panel-body">
      <form name="companyregistrationform" class="form-validation" enctype= "multipart/form-data" ng-submit="fnGetCompanyRegisterDetails(company,selection)"  xt-form novalidate>
            


            <div class="col-md-12 animated flipInX">
                  <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                      Company Info
                    </div>
                    <div class="panel-body">
                      <div >
                          
                                    <!-- <div class="form-group col-sm-2" >
                                    <img ng-bind="company.companyLogo" >
                                    </div> -->
                                    <div class="form-group col-sm-2" >
                                        <img render-image imgToRender="company.companyLogo" file-source = "companyLogo"  ng-model="company.companyLogo" class="img-responsive img-thumbnail w-sm m-xs" ng-src="{{company.companyLogo}}" style="width:200px; height:150px;"/>
                                    </div>
                         
                                    <div class="form-group col-sm-5" >
                                    <label for="definpu">Company Name*</label>
                                    <input type="text" ng-model="company.companyName"class="form-control" id="definput" xt-validate placeholder="Company Name" name="companyName" required>
                                    </div>
                                       
                                    <div class="form-group col-sm-5">
                                    <label for="definpu">Company Sector*</label>            
                                    <select  class="form-control" xt-validate name="sector" data-bv-field="sectors" ng-model="selection.sectors" ng-options="sectorNames.sectorName for sectorNames in sectorlist"  required>
                                    <option value="">Select a Sector</option>
                                    <option value="other">Other</option>                         
                                    </select>
                                    </div>
                          
                                    <div class="form-group col-sm-5">
                                    <label for="definpu">E-mail Address*</label>
                                    <input type="text" ng-model="company.eMail" ng-pattern="emailPattern" class="form-control email" ui-validate=" '$value!==existingEmail' " ui-validate-watch=" 'existingEmail'" msg-pattern='{{emailMsg}}' msg-validator='{{emailEMsg}}'  xt-validate id="definput" placeholder="Company Email Address" name="companyEmail" ng-change="userVal(company)" required>
                                    </div>

                                    <div class="form-group col-sm-5">
                                    <label for="definpu">Alternate  E-mail*</label>
                                    <input type="text" ng-model="company.alternateEmail" class="form-control" id="definput" placeholder="Alternate E-mail Address"name="alternateEmail" xt-validate msg-pattern='{{emailMsg}}' ng-pattern="emailPattern" required>
                                    </div>
                         
                                    <div>
                                        </br>
                                        <input type="file" ng-model="company.companyLogo" fileupload-dir="company.companyLogo" name="companyLogo">
                                    </div>
                        </div>
                    </div>
                  </div>
            </div>

            <div class="col-md-6 animated flipInX">
                  <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                      Contact Details<br>
                    </div>
                    <div class="panel-body">

                      <div class="form-group" >
                            <label for="definpu">Phone*</label>
                            <input type="text" ng-model="company.Phone" class="form-control" id="definput"placeholder="Phone Number" name="Phone" xt-validate ng-pattern="NumberPattern" required>
                        </div>
                        <div class="form-group">
                            <label for="definpu">Mobile*</label>
                            <input type="text" ng-model="company.Mobile" class="form-control" id="definput" placeholder="Mobile Number" xt-validate name="Mobile" ng-pattern="NumberPattern" required>
                        </div>
                       <div class="form-group" >
                            <label for="definpu">Fax</label>
                            <input type="text" ng-model="company.Fax"class="form-control" id="definput" ng-pattern="NumberPattern" xt-validate placeholder="Fax" name="Fax">
                        </div>
                       <div class="form-group" >
                            <label for="definpu">Website</label>
                            <input type="text" ng-model="company.webSite" xt-validate class="form-control" id="definput" placeholder="Website url" name="webSite" ng-pattern="urlPattern">
                        </div>
                      
                    </div>
                  </div>
            </div>
            

            <div class="col-md-6 animated flipInX">
                  <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                      Company Addresss<br>
                    </div>
                    <div class="panel-body">


                    
                        <div class="form-group" >
                            <select  class="form-control" name="country" data-bv-field="country" ng-model="selection.country"  ng-options="countries.countryName for countries in CSDlist" xt-validate required>
                            <option value="">Select a Country</option>
                            </select>
                        </div>
                   
                    
                        <div class="form-group">
                            <select  class="form-control" name="state" data-bv-field="state" ng-model="selection.state" ng-options="state.stateName for state in selection.country.States" xt-validate required>
                            <option value="">Select a State</option>
                            </select>
                        </div>
                    
                    
                        <div class="form-group" >
                            <select  class="form-control" name="district" data-bv-field="district" ng-model="selection.district" ng-options="districts.districtName for districts in selection.state.Districts" xt-validate required>
                            <option value="">Select a District</option>
                            </select>
                        </div>
                    
                    
                        <div class="form-group" >
                            <input type="text" ng-model="company.zipCode" class="form-control" id="definput" placeholder="Zip Code" name="zipCode" ng-pattern="NumberPattern" xt-validate required>
                        </div>
                    
                    <div class="form-group" >    
                        <textarea class="form-control" name="Address" ng-model="company.Address"  rows="5" placeholder="Address" xt-validate required></textarea>
                    </div> 

                      
                      
                    </div>
                  </div>
            </div>


            <div class="col-md-6 animated flipInX">
                  <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                      Login Credentials<br>
                    </div>
                    <div class="panel-body">

                      <div class="form-group" >
                    <label for="definpu">Username*</label>
                    <input type="text" ng-model="company.eMail" class="form-control" id="definput" placeholder="User Name" readonly  name="eMail" msg-validator='{{emailEMsg}}' xt-validate required>
                    <!-- <span class="text-error" ng-show="companyregistrationform.companyEmail.$error.alreadyUsed">UserName already in Use!</span> -->
                    </div>
                    <div class="form-group" >
                    <label for="definpu">Password*</label>
                    <input type="password" ng-model="company.password" class="form-control" id="definput" placeholder="Password"name="password" ng-change="checkPassword()" ng-minlength="5" xt-validate required>
                    </div>
                    <div class="form-group">
                    <label for="definpu">Confirm Password*</label>
                    <input type="password" ng-model="company.cpassword" class="form-control" id="definput" placeholder="Confirm Password"name="cpassword" xt-validate required  ui-validate=" '$value==company.password' " ui-validate-watch=" 'company.password' ">
                    </div>
  
                    </div>
                  </div>
            </div>

            <div class="col-md-6 animated flipInX">
                  <div class="panel panel-default">
                    <div class="panel-heading bg-white">
                      Social Profiles<br>
                    </div>
                    <div class="panel-body">
                      <div class="form-group" ng-class="{ 'has-error' : companyregistrationform.Facebook.$invalid && !companyregistrationform.Facebook.$pristine}">
                        <label for="definpu">Facebook</label>
                        <input type="text" ng-model="company.Facebook" class="form-control" id="definput" placeholder="Facebook url" name="Facebook" ng-pattern="urlPattern">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : companyregistrationform.Google.$invalid && !companyregistrationform.Google.$pristine}">
                        <label for="definpu">G+</label>
                        <input type="text"  ng-model="company.Google" class="form-control" id="definput" placeholder="gplus url" name="Google" ng-pattern="urlPattern">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : companyregistrationform.Twitter.$invalid && !companyregistrationform.Twitter.$pristine}">
                        <label for="definpu">Twitter</label>
                        <input type="text" ng-model="company.Twitter" class="form-control" id="definput" placeholder="Twitter url" name="Twitter" ng-pattern="urlPattern">
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : companyregistrationform.LinkedIn.$invalid && !companyregistrationform.LinkedIn.$pristine}">
                        <label for="definpu">LinkedIn</label>
                        <input type="text" ng-model="company.LinkedIn"class="form-control" id="definput" placeholder="LinkedIn url" name="LinkedIn" ng-pattern="urlPattern">
                    </div>

                      
                      
                    </div>
                  </div>
            </div>


            





       <button type="submit" class="btn btn-blue btn-lg" ng-disabled="companyregistrationform.$invalid||companyButtonDisable">Register</button>


      </form>
    </div>
  </div>
</div>

