<div class="p-h-md">
  <div class="row">
      <div class="panel panel-default">
        <div class="bg-white p-sm b-b b-2x b-success " >
          <h4 class="no-margin">Add your menu</h3>
        </div>
        <div class="panel-body">
          <form name="menuDetails" role="form" class="menuDetails">
          	
              <div class="col-xs-12 col-sm-6">               
                <input id="menuName" type="text" class="form-control floating-label" placeholder="Menu Name" ng-model="menu.MenuName" required>
              </div>
           <div class="col-xs-12 col-sm-6">                
                <input type="text" class="form-control floating-label" placeholder="Menu Link" ng-model="menu.MenuLink">
             </div>

             <div class="col-sm-6 m-v">
                <h4 class="no-margin m-t m-b text-E91E63">Actions</h4>
                <div class="m-h-n">
                <div class="col-xs-6 col-md-3">
                <input type="text" class="form-control floating-label" placeholder="Action Name" ng-model="menu.actionName">
              </div>
              <div class="col-xs-6 col-md-3">
                <input type="text" class="form-control floating-label" placeholder="State Name" ng-model="menu.stateName">
              </div>
              <div class="col-xs-6 col-md-3" style="cursor: pointer;">
                  <i ng-click="addActtion()" class="fa fa-plus-circle fa-2x"></i>
              </div> 
              </div>
              </div>
              <div class="col-lg-6">
                <!-- <h4 class="no-margin m-b-md m-r">Menu Icon</h4>
                <i class="ui-icon fa fa-user {{menu.menuIcon}} ui-iconnfo text-lg"></i>
                <a ng-click="GetIcon()" class="">Change Icon</a> -->
                <icon-chooser selected-icon="menu.menuIcon"></icon-chooser>
              </div>
          
            <div class="m-h-n  m-t clearfix">
            <div class="col-sm-6">
              <ul class="nav nav-sm nav-pills m-b" ui-nav="">
                <li class="active m-r-xs bg-light lt" ng-repeat="action in menu.actions">
                  <a ng-click="editAction(action,$index)">{{action.actionName}}<button type="button" class="close" style="margin-top: -2px;margin-left: 2px;" ng-click="removeAction($index)">×</button></a>
                </li>
              </ul>
            </div>
          </div>
        <div class="m-h-n  m-t clearfix">
          <div class="col-sm-6">
             <a ng-click="loadMenu()" class="">Edit Existing Menus</a>
          </div>
          <div class="col-sm-6">
            <button ng-click="UpdateMenu()" ng-show="updateMenu" class="btn btn-info baab-btn" ng-disabled="menuDetails.$invalid">Update</button>
            <button ng-click="AddMenu()" ng-show="addMenu" class="btn btn-info baab-btn" ng-disabled="menuDetails.$invalid">Add</button>
          </div>
        </div>

      </form>
      </div>
      </div>
      </div>
      </div>
      <div class="p-h-md am-fade" ng-show="existingMenus">
      <div class="row">
      <div class="panel panel-default animated fadeInDown">
        <div class="panel-body">
          <div ng-mouseover="Over=true" ng-mouseleave="Over=false" ng-repeat="menu in allMenus" class="m-md text-sm btn b btn-lg bg-light lt m-r" style="color:#444444;">
          <div ng-click="editMenu(menu)">
          <i class="fa {{menu.menuIcon}} fa-3x pull-left" ></i>
          <span class="block clear text-left m-v-xs"><b class="text-lg block font-bold">{{menu.MenuName}}</b>
          </span></div>
          <div>
          <i ng-click="removeMenu(menu)" class="fa pull-right text-lt" ng-class="{'fa-trash':Over}" style="cursor: pointer;"></i>
          <i class="fa m-r-xs pull-right text-lt" style="cursor: pointer;" ng-class="{'fa-edit':Over}"></i>
          </div>
        </div>
      
      </div>
      </div>
      </div>
      </div>
              
              