<nav ui-nav class="">
  <ul class="nav">
    <li ng-class="{'animated fadeInDown':navBar,'ng-hide':!navBar}" ui-sref-active="active" >
      <a ng-click="goHome()">
       <i class="icon glyphicon glyphicon-list text-lg"></i>
      </a>
    </li>
    <li ng-click="goMenu(path,$index)" ng-repeat="path in linkPath" ui-sref-active="active">
      <a>
        <i class="fa fa-chevron-right" style="font-size: 8px;position: relative;top: -3px;"></i>
      	<i class="fa fa-apple fa-1x"></i>
       <i class="text-md">{{path.pathName}}</i>
      </a>
    </li>
    <li class="animated fadeOut">
      <a>
       <i class="ui-icon fa fa-asterisk b-dark-lt b-2x text-dark-lt"></i>
      </a>
    </li>
  </ul>
</nav>