<div class="col-xs-12 ">
  <!-- Requestee details -->
    <div  set-sub-heading-and-background-color  class="panel-heading font-bold text-white  p baab-shadow"   translate="{{'Register a College'|translate}}"></div>

  <div class="row p-h ">
   
    <form name="collegeRegistraion" ng-submit="fnRegisterCollege()" class="form" xt-form editable-form novalidate>
     

      <div class="panel panel-default">
          <div class="panel-body">

            <div class="panel panel-default">
              <div class="panel-body">

                    <!-- College Name -->
                    <div class="form-group">
                        <input type="text" float-label ng-model="college.mandatoryData.collegeName" name="collegeName" class="form-control" placeholder="College Name" required xt-validate >
                    </div>

                    <!-- Email -->
                    <div class="form-group">
                        <input type="text" float-label ng-model="college.mandatoryData.eMail" class="form-control" ng-pattern="emailPattern"  ui-validate=" '$value!==existingEmail' " ui-validate-watch=" 'existingEmail'" msg-pattern='{{emailMsg}}'  msg-validator='{{emailEMsg}}' placeholder="Email ID" ng-change="userVal()" required xt-validate name="eMail">
                    </div>
                  
                    <!-- Password -->
                    <div class="form-group">
                                <input type="password" float-label ng-model="college.mandatoryData.password" class="form-control" placeholder="Password (Minimum 5 Characters)" required ng-minlength="5" xt-validate name="password" >
                    </div>

                    <!-- Location -->
                    <div class="form-group">
                        <input type="text" float-label ng-model="college.mandatoryData.location" name="location" class="form-control" placeholder="Location" required xt-validate >
                    </div>


                     <!-- Address -->                  
                    <div class="form-group">
                            <textarea rows="3" float-label ng-model="college.mandatoryData.address" name="address" class="form-control" placeholder="College Address" required xt-validate ></textarea>
                    </div>                  

              </div>
            </div>

             <div class="panel panel-default">
              <div class="panel-body">
                <!-- Technologies -->
                      <div class=" m-t-lg" >
                              <tags-input class="bootstrap" ng-model="college.mandatoryData.Courses" placeholder="Courses Offered" replace-spaces-with-dashes="false" min-length="1" name="Courses" required xt-validate >
                                  <auto-complete source="loadCourses($query) | filter:$query" min-length="0" debounce-delay="0" max-results="15"></auto-complete>
                              </tags-input>
                        <em class="text-muted text-E91E63" translate="{{'*Courses must be selected from the List '|translate}}"></em>                
                      </div>                

                </div>
            </div>

            <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">Contact Person</h3>
                  </div>
                  <div class="panel-body">
                      <div ng-repeat="contactPerson in college.mandatoryData.contactPersons track by $index">
                          <div class="col-xs-12 bg-light m-t-sm ">
                            <div class="col-xs-5">
                                    <input type="text"  float-label ng-model="contactPerson.Name" class="form-control " placeholder="Name" required xt-validate name="contactPersonName">

                            </div>
                            <div class="col-xs-5">
                                    <input type="number"  float-label ng-model="contactPerson.Phone" class="form-control" placeholder="Phone" required xt-validate name="contactPersonPhone">              

                            </div>
                            <div class="col-xs-2  m-t-xs"> 
                            <!-- {{$index}} -->                                        
                              <i ng-click="removeContact($index)" class="btn no-padding mdi-content-clear text-lg" ng-if="college.mandatoryData.contactPersons.length>1"></i>                
                              <i ng-click="addContact()" class="btn no-padding mdi-content-add-box text-lg" ng-if="$index+1==college.mandatoryData.contactPersons.length"></i>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">Departments</h3>
                  </div>
                  <div class="panel-body">

                    <div  ng-repeat="department in college.mandatoryData.departments track by $index">
                      <div class="col-xs-12 bg-light m-t-sm ">
                        <div class="col-xs-10 pull-left">
                            <div class="col-xs-12">
                                    <input type="text"  float-label ng-model="department.Name" class="form-control " placeholder="Department"  required xt-validate name="departmentName">
                            </div>
                            <div class="col-xs-12">
                                    <input type="text"  float-label ng-model="department.Hod" class="form-control " placeholder="Name of Hod" required xt-validate name="departmentHod" >
                            </div>
                            <div class="col-xs-6">
                                    <input type="text" float-label ng-model="department.eMail" class="form-control" placeholder="Email ID"  required ng-pattern="emailPattern" msg-pattern='{{emailMsg}}' xt-validate name="departmentHodEmail" >
                            </div>
                            <div class="col-xs-6">
                                    <input type="number"  float-label ng-model="department.phone" class="form-control" placeholder="Phone" required xt-validate name="departmentHodPhone"  >
                            </div>
                        </div>
                        <div class="col-xs-2  m-t-xs">
                            <!-- {{$index}} -->
                            <i ng-click="removeDepartment($index)" class="btn no-padding mdi-content-clear text-lg" ng-if="college.mandatoryData.departments.length>1"></i>                
                            <i ng-click="addDepartment()" class="btn no-padding mdi-content-add-box text-lg" ng-if="$index+1==college.mandatoryData.departments.length"></i>
                        </div>
                        <div class="col-xs-12">
                        </div>


                      </div>            
                    </div>         

                  </div>
              </div>


              <button ng-disabled="collegeRegistraion.$invalid||exsistingUser" type="submit" class="btn btn-danger baab-btn pull-right">Register</button>


          </div>
      </div>
      


    </form>    
  </div>

</div>