<div>
	{{ngModel}}
<form name="questionMarkField" xtform no-validate>
		<div class="col-xs-12">
			<div class="col-xs-6  ">
				<div class="form-group col-xs-12" >

		    		<input type="number" class="form-control " min="0" float-label placeholder="{{'Total  Mark'|translate}}" name="mark.totalMark" xt-validate required ng-model="ngModel.mark.totalMark">
		    		
				</div>
				<div class="form-group col-xs-12" >
					
		    		<input type="number" class="form-control " min="0" max="{{ngModel.mark.totalMark}}" float-label placeholder="{{'Qualifying Score'|translate}}" name="qualifyScore" xt-validate required ng-model="ngModel.mark.qualifyScore">
		    		
				</div>

				<div class="form-group col-xs-12" >
	      			<div class="col-md-6 col-xs-12 m-t-md">
	      			<input type="number" class="form-control " min="0" float-label placeholder="{{'Duration'|translate}}" name="duration" xt-validate required ng-model="ngModel.duration.value">  
	      			</div>
	      			<div class="paper-dropdown col-md-6 col-xs-12 m-t-lg">
						<select placeholder="" xt-validate required data-animation="am-fade-and-slide-top" ng-options="unit for unit in units" name="unit" ng-model="ngModel.duration.unit" class="form-control" data-html="true" bs-select></select>
					</div> 
	      		</div>								
	      	</div>

	      	<div class="col-xs-6 ">
	      		<div class="form-group col-xs-12 ">
	                <label class=" control-label"  translate="{{'Result Mode'| translate}}"></label>
	                    <div class="radio radio-primary">
	                        <label>
	                           <input type="radio" ng-model="ngModel.resultMode" xt-validate required name="resultMode" id="resultMode" value="live"><span class="circle"></span><span class="check"></span>
	                            <b class="font-normal" translate="{{'Live Result'|translate}}"></b>
	                        </label>
	                    </div>
	                    <div class="radio radio-primary">
	                        <label>
	                           <input type="radio" ng-model="ngModel.resultMode" xt-validate required name="resultMode" id="resultMode" value="submit"><span class="circle"></span><span class="check"></span>
	                           <b class="font-normal" translate="{{'On Submit'|translate}}"></b>
	                        </label>
	                    </div>	                                            
	            </div>
	      		<div class="form-group col-xs-12 ">
	                <label class=" control-label" translate="{{'Question View'| translate}}"></label>
	                <div class="radio radio-primary">
	                    <label>
	                    	<input type="radio" ng-model="ngModel.questionView.mode" xt-validate required name="questionView" id="questionView" value="single"><span class="circle"></span><span class="check"></span>
	                    	<b class="font-normal" translate="{{'Single Page'|translate}}"></b>

	                    </label>
	                </div>
	                <div class="radio radio-primary">
	                    <label>
	                        <input type="radio" ng-model="ngModel.questionView.mode" xt-validate required name="questionView" id="questionView" value="multiple"><span class="circle"></span><span class="check"></span>
	                        <b class="font-normal" translate="{{'Multiple Page'|translate}}"></b>
	                    </label>
	                </div>
	                <div class="form-group" ng-if="ngModel.questionView.mode=='multiple'">
		    			<input type="number" class="form-control " float-label placeholder="{{'Questions per page'|translate}}" name="questionPerPage" xt-validate required ng-model="questionView.questionPerPage">
					</div>                               
	            </div>		    			                                    
	      	</div>
	      
	  	</div>	
	       
	</form>
	
</div>