<!-- <div class="p-h-md p-v bg-white box-shadow pos-rlt" >
  <h3 class="no-margin">Profile</h3>
</div> -->
<div class="box bg-white" >
  <div class="col-md-3" >
    <div style="background:url({{userinfo.ActiveUserData.roleMappingObj.avatar}}) center center; background-size:cover" ng-mouseenter="showHideFotoDive()" ng-mouseleave="showHideFotoDive()">
      <div class="p-lg bg-white-opacity text-center">
        <a href class="w-xs inline">
          <img src="{{userinfo.ActiveUserData.roleMappingObj.avatar}}" class="img-circle img-responsive">
        </a>
        <div class="m-b m-t-sm h4">
          <span class="text-black">{{capitalize(userinfo.ActiveUserData.username)}}</span>
        </div>
        <!-- 
        <p>
          I am designing something.
        </p> -->
        
       <!--  <div class="p-md">
          <a href class="btn btn-sm btn-info m-b-xs p-h" ng-click="updateinfo()">update info</a>
        </div> -->
      </div>
      <div ng-class="{true:'bg-white-opacity',false:'bg-dark'}[updatepicmsg]" ng-click="manageProfile()">
        <i ng-class="{true:'text-xl p-md fa fa-camera',false:'text-lg p-md fa fa-camera'}[updatepicmsg]"></i><span class="font-bold" ng-hide="updatepicmsg">update profile picture</span>

      </div>
    </div>
   <!--  <div class="text-center b-b bg-light">
      <a href class="m-b-md inline m text-color">
        <span class="h3 block font-bold">221</span>
        <em class="text-xs">Followers</em>
      </a>
      <a href class="m-b-md inline m text-color">
        <span class="h3 block font-bold">250</span>
        <em class="text-xs">Following</em>
      </a>
    </div>  -->     
    <div class="p bg-light">
      <p>About</p>

      <div ng-show="!profileData.profile.about" >
     
      <a editable-text="profileData.profile.about" e-required style="color:#acb7c0;font-style:normal" onMouseOver="this.style.color='#009587'" onMouseOut="this.style.color='#acb7c0'" onaftersave="updateUserProfileDatas('profile.about',$data)" ng-mouseover="onAboutMouseOver()"  ng-mouseenter="editAboutOpt()" ng-mouseleave="editAboutOpt()"> add about yourself.</a>
      <i class="ti-pencil-alt pull-right p-xs" ng-show="showHideAbtPic"></i>
      </div>

      <div ng-show="profileData.profile.about">
     
      <a editable-text="profileData.profile.about" e-required style="color:#acb7c0;font-style:" onMouseOver="this.style.color='#009587'" onMouseOut="this.style.color='#acb7c0'" onaftersave="updateUserProfileDatas('profile.about',$data)" ng-mouseenter="editAboutOpt('about')" ng-mouseleave="editAboutOpt('about')"> {{ profileData.profile.about}}.</a>
      <i class="ti-pencil pull-right p-xs" ng-show="showHideAbtPic"></i>
      </div>
    
    </div>
    <div class="list-group no-radius no-border">
      <div class="list-group-item" ng-show="!profileData.profile.location">
        <i class="p-h-xs fa fa-home"></i><span class="text-dark">Lives in </span><a
        ng-mouseenter="editAboutOpt('location')" ng-mouseleave="editAboutOpt('location')"  onaftersave="updateUserProfileDatas('profile.about',$data)"  class="text-primary-lt"  href>Add your location and country</a>
       <i class="ti-pencil pull-right p-xs" ng-show="showHidelocationPic"></i>  
      </div>
      <!--  <span class="list-group-item" ng-show="!profileData.profile.location">
        <i class="p-h-xs fa fa-home"></i><span class="text-dark">Lives in </span><a class="text-primary-lt" href>add location and country</a>
      </span> -->
      <span class="list-group-item">
        <i class="p-h-xs ti-location-pin"></i><span class="text-dark">From </span><a class="text-primary-lt" href>{{capitalize(profileData.profile.Branch[0].location)}},India</a>
        <br>
        <span ng-if="profileData.profile.dob" class="text-light-dk p-sm">{{convertDate(profileData.profile.dob)}}</span>
      </span>
      <!-- <a class="list-group-item">
        <span class="pull-right badge">564</span> Posts
      </a> -->
    </div>
  </div>

<!-- you can start here......... -->

  <div class="col-md-9 bg-white b-l ">
    <!-- <div class="p bg-light"  >
    class="panel no-border no-margin"
      <div class="panel no-margin"  style="border:solid">
        <form>
          <textarea class="form-control no-border" rows="3" placeholder=" Write something..."></textarea>
        </form>
        <div class="lt p">
          <button class="btn btn-info pull-right btn-sm p-h font-bold">Post</button>
          <ul class="nav nav-pills nav-sm">
            <li><a href><i class="fa fa-camera"></i></a></li>
            <li><a href><i class="fa fa-video-camera"></i></a></li>
          </ul>
        </div>
      </div>
    </div> -->
 <!--    <div class="p-h bg-white b-b b-light">
      <ul class="nav nav-lines nav-md b-info">
        <li class="active"><a href>Stream</a></li>
        <li><a href>Photos <span class="badge">3</span></a></li>
        <li><a href>Posts <span class="badge">9</span></a></li>
      </ul>
    </div> -->
<!--     <div class="p-h-lg">      
      <div class="streamline b-l p-v m-l-xs m-b">
        <div>
          <a class="pull-left w-thumb-sm m-l-n m-t-xs m-r">
            <img src="images/a2.jpg" class="img-responsive rounded" alt="...">
          </a>
          <div class="clear">
            <div class="m-b-xs">
              <a href>James</a> said
              <span class="text-muted block text-xs">
                Just now
              </span>
            </div>
            <div class="m-b">
              <div>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. ullamcorper sodales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin </div>
              <div class="m-t-sm">
                <a href class="text-muted m-xs">Like</a>
                <a href class="text-muted m-xs">Comment</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <a class="pull-left w-thumb-sm m-l-n m-t-xs m-r">
            <img src="images/a3.jpg" class="img-responsive rounded" alt="...">
          </a>
          <div class="clear">
            <div class="m-b-xs">
              <a href>Oscar</a> upload a file
              <span class="text-muted block text-xs">
                3 minutes ago
              </span>
            </div>
            <div class="m-b">
              <div class="w-xl w-auto-xs">
                <div class="box bg-light">
                  <div class="box-col w-xs text-center dk p-md v-m">
                    <i class="fa fa-file-text-o text-3x text-muted-lt"></i>
                  </div>
                  <div class="box-col p">
                    <a href>Geuismod tincidunt</a>
                    <div>Diam nonummy nibh euismod tincidunt ut laoreet. </div>
                  </div>
                </div>
              </div>
              <div class="m-t-sm">
                <a href class="text-muted m-xs">Like</a>
                <a href class="text-muted m-xs">Comment</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <a class="pull-left w-thumb-sm m-l-n m-t-xs m-r">
            <img src="images/a4.jpg" class="img-responsive rounded" alt="...">
          </a>
          <div class="clear">
            <div class="m-b-xs">
              <a href>Anny</a> post a photo
              <span class="text-muted block text-xs">
                6 minutes ago
              </span>
            </div>
            <div class="m-b">
              <div><img src="images/a10.jpg" class="b p-xs"></div>
              <div class="m-t-sm">
                <a href class="text-muted m-xs">Like</a>
                <a href class="text-muted m-xs">Comment</a>
              </div>
            </div>
          </div>
        </div>

        <div>
          <a class="pull-left w-thumb-sm m-l-n m-t-xs m-r">
            <img src="images/a5.jpg" class="img-responsive rounded" alt="...">
          </a>
          <div class="clear">
            <div class="m-b-xs">
              <a href>Michel</a> post a comment
              <span class="text-muted block text-xs">
                10 minutes ago
              </span>
            </div>
            <div class="m-b bg-light">
              <div class="p-sm b-b">
                <img src="images/a4.jpg" class="rounded w-thumb-xs pull-left m-r-sm" alt="...">
                <a href>Tony</a> liked it
              </div>
              <div class="p-sm">
                <img src="images/a6.jpg" class="rounded w-thumb-xs pull-left m-r-sm" alt="...">
                <a href>Anney</a> Commented it
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> -->



  </div>
</div>