<!DOCTYPE html>
<html ng-app="baabtra">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
  <link href="app.less" type="text/css" rel="stylesheet/less">

  <!-- Livereload script for development only (stripped during dist build) -->
  <script src="http://localhost:35729/livereload.js" data-concat="false"></script>

  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
  <link rel="stylesheet" href="bower_components/appSpecificStyles/css/weather-icons.min.css" />
  <link rel="stylesheet" href="bower_components/appSpecificStyles/css/beyond.min.css" />
  <link rel="stylesheet" href="bower_components/appSpecificStyles/css/demo.min.css" />
  <link rel="stylesheet" href="bower_components/appSpecificStyles/css/typicons.min.css" />
  <link rel="stylesheet" href="bower_components/appSpecificStyles/css/animate.min.css" />
  <!-- endbower -->

</head>
<!-- ng-app and indexCtrl start -->
<body ng-controller="IndexCtrl">
  <!-- Loading Container -->
    <up-menu ng-if="1==login_check"></up-menu>
    <!-- /Navbar -->
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container" ng-controller="LeftMenuCtrl">
            <!-- Page Sidebar -->
            
                <!-- /Page Sidebar Header -->
                <!-- Sidebar Menu -->
               <left-menu ng-if="1==login_check"></left-menu>
                <!-- /Sidebar Menu -->
         
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <!-- <div   class="page-content"> -->
              <!-- <div class="page-container">  -->
              <div ng-class="{'page-container':login_check==2,'page-content':login_check==1}"> 

 <!-- end   before login itshoud be container ,the after login chage the class into page-conent by using some conditions   -->
 
                <!-- Page Breadcrumb -->
               <div navigation-bar ng-if="1==login_check"></div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
               
                <!--Header Buttons-->
               <header-buttons ng-if="1==login_check"></header-buttons>
                <!--Header Buttons End-->
             
                <!-- /Page Header -->
                <!-- Page Body -->
                
                <div ui-view class="page-body">

                    <!-- the content goes here... -->
                    
                </div>


                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

  <!-- Google analytics code -->
  <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
  </script>
  <!-- End. Google analytics code -->  

  <!-- bower:js -->
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/less.js/dist/less-1.6.2.js"></script>
  <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/appSpecificJs/js/Config/config.js"></script>
  <script src="bower_components/appSpecificJs/js/beyond.min.js"></script>
  <script src="bower_components/appSpecificJs/js/toastr/toastr.js"></script>
  <!-- endbower -->

  <!-- Main App JS -->
  <script src="app.js"></script>
 
 
  <script src="angularModules/company/controllers/Controller-about.js"></script>
  <script src="angularModules/company/controllers/Controller-companyRegister.js"></script>
  <script src="angularModules/company/controllers/Controller-RegisteredCompanies.js"></script>
  <script src="angularModules/user-role-menu/controllers/Controller-addUserMenu.js"></script>
  <script src="angularModules/user-role-menu/controllers/Controller-manageUserRole.js"></script>
  <script src="angularModules/user-role-menu/controllers/Controller-userRoleMenu.js"></script>
  <script src="angularModules/login-index-main/controllers/Controller-Login.js"></script>
  <script src="angularModules/login-index-main/controllers/Controller-Index.js"></script>
  <script src="angularModules/login-index-main/controllers/Controller-Main.js"></script>  
  <script src="angularModules/user-role-menu/controllers/Controller-leftMenu.js"></script>
  <script src="angularModules/user-role-menu/directives/Directive-addUserMenu.js"></script>
  <script src="angularModules/company/directives/Directive-companyRegister.js"></script>
  <script src="angularModules/user-role-menu/directives/Directive-headerButtons.js"></script>
  <script src="angularModules/user-role-menu/directives/Directive-leftMenu.js"></script>
  <script src="angularModules/user-role-menu/directives/Directive-manageUserRole.js"></script>
  <script src="angularModules/user-role-menu/directives/Directive-navigationBar.js"></script>
  <script src="angularModules/company/directives/Directive-registeredCompanies.js"></script>
  <script src="angularModules/user-role-menu/directives/Directive-topMenu.js"></script>
  <script src="angularModules/user-role-menu/directives/Directive-userRoleMenuDir.js"></script>
  <script src="angularModules/user-role-menu/services/Service-addUserMenu.js"></script>
  <script src="angularModules/company/services/Service-companyRegistration.js"></script>
  <script src="angularModules/user-role-menu/services/Service-leftMenu.js"></script>
  <script src="angularModules/user-role-menu/services/Service-manageUserRole.js"></script>
  <script src="angularModules/company/services/Service-registeredCompanies.js"></script>
  <script src="angularModules/user-role-menu/services/Service-roleMenuMapping.js"></script>
  <script src="angularModules/login-index-main/services/Service-Login.js"></script>
  <script src="angularModules/company/partials/Partial-about.js"></script>
  <script src="angularModules/common/partials/Partial-home.js"></script>
  <script src="angularModules/common/partials/Partial-main.js"></script>
  <script src="angularModules/login-index-main/directives/Directive-loginBox.js"></script>
  <script src="angularModules/admin/partials/Partial-addCourseCategories.js"></script>
  <script src="angularModules/admin/controllers/Controller-addCourseCategories.js"></script>
  <script src="angularModules/admin/controllers/Controller-testAdminCtrl.js"></script>
  <!-- Add New Component JS Above -->

</body>
</html>
