<div>
	<div ng-if="answerType=='singleAnswer'">
		<paper-radio-group selected="" style="margin-top:-15px;" >
			<paper-radio-button class="col-xs-12 m-h-lg" ng-repeat="option in options" radio-change="" value="{{option.Name}}"  radio-model="selectedAnswer[0]" ng-if="option.value"  name="{{option.value}}" label="{{option.value}}"></paper-radio-button>
		</paper-radio-group>
	</div>

	<div ng-if="answerType=='multiAnswer'">
		<paper-checkbox class="col-xs-12 m-h-lg p" ng-repeat="option in options" check-model="selectedAnswer[$index]" label="{{option.value}}" ng-if="option.value" value="{{option.Name}}"></paper-checkbox>
	</div>
</div>