<div class="col-xs-12 ">
      <div class="row">
      <!-- navbar header -->
     
      <div class=" col-xs-3  col-md-2 navbar-header p-h-xs" >  
        <!-- brand -->
        <a >
          <img src="{{$root.userinfo.ActiveUserData.appSettings.logo}}" class="img-responsive hidden-xs " style="max-height:35px">
        </a>
         <a >
          <img src="{{$root.userinfo.ActiveUserData.appSettings.logo}}" class="img-responsive visible-xs " style="max-height:35px ;height:100%">
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

       <!-- navbar collapse -->
      <div class="navbar-collapse col-md-6 col-xs-4 " ng-class="{'show animated fadeIn' : app.navbarCollapse}">
        <!-- nav -->
        <div  ui-nav ng-class="{'ng-hide':!navBar}" class="breadCrumb ">
        <ul  suppress-scroll-y="true" ng-class="{'hideScrollBar':!showScrollbarBreadcrumb}" class="perfect-scrollbar nav navbar-nav navbar-left nav-container-scroll m-t-xs">
          <li ng-click="goHome()" class="lt" ng-class="{'animated fadeInDown':navBar,'ng-hide':!navBar}" ui-sref-active="active" >
            <div>
             <i class="icon glyphicon glyphicon-th-large text-md"></i>
            </div>
          </li>

          <li ng-click="goMenu(path,$index)" ng-repeat="path in linkPath track by $index">
            <div class="animated fadeInDown">
             <i class="text-md" text-to-translate="{{path.MenuName}}" translate>{{path.MenuName}}</i>
             <i class="fa fa-chevron-right text-xs m-l-xs" ng-if="linkPath.length > $index+1"></i>
            </div>
          </li>        
        </ul>
        </div>
      </div>

      <!-- navbar collapse -->
      <div class="navbar-collapse pull-right col-md-1" style="" ng-class="{'show animated fadeIn' : app.navbarCollapse}">
        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right m-r-n hidden-xs">
          <li bs-tooltip data-title="Language" data-placement="left">
            <a style="padding: 10px;"   data-animation="am-fade" data-template="angularModules/login/partials/language-Popover.html" data-placement="bottom-right" bs-dropdown="dropdown">
              <i class="mdi-action-language fa-lg"></i>
            </a>
          </li>
          <li bs-tooltip data-title="Notifications" data-placement="left">
            <a style="padding: 10px;"    data-animation="am-fade" data-template="angularModules/Notification/partials/Popover-notifictionPopover.html" data-placement="bottom-right" bs-dropdown="dropdown">

              <i class="mdi-social-notifications fa-lg"></i>
              <b class="badge bg-danger up" ng-if="$root.data.userNotification.unreadCount > 0">{{$root.data.userNotification.unreadCount}}</b>
              <span class="visible-xs-inline">Notifications</span>
            </a>
          </li>
          <li ng-if="roleId == $root.userinfo.ActiveUserData.roleMappingObj.fkRoleId" ng-click="redirectTothemeConfiguration()">
            <a style="padding: 10px;"   bs-tooltip data-title="Customize theme"  data-placement="left">
              <i class="mdi-image-color-lens fa-lg"></i>
              <span class="visible-xs-inline" translate="{{'Settings'|translate}}"></span>
            </a>
          </li>
          <li ng-if="roleId == $root.userinfo.ActiveUserData.roleMappingObj.fkRoleId" ng-click="redirectToGlobalSettings()">
             
            <a style="padding: 10px;" bs-tooltip data-title="Settings"  data-placement="left">
              <i class="mdi-action-settings fa-lg"  ></i>
            </a>
          </li>
          <li>            
            <a style="padding: 10px;" bs-aside="aside" data-template="angularModules/login/partials/Partial-sm_User_Menu.html" data-placement="right" data-animation="am-slide-right aside-open-inner modal-open" data-container="body">
              <qrcode ng-if="!userinfo.ActiveUserData.roleMappingObj.avatar.length" version="2" size="30" color="#4A148C" ng-click="$hide()" class="navbar-img  pull-right m-l-xs m-r-xs" data="{{userinfo.ActiveUserData.username}}" ></qrcode>
              <img  ng-if="userinfo.ActiveUserData.roleMappingObj.avatar.length" ng-src="{{userinfo.ActiveUserData.roleMappingObj.avatar}}" alt="..." class="navbar-img img-circle pull-right m-r-xs m-l-xs">

              <span class="hidden-sm m-l">{{userinfo.ActiveUserData.username}}</span>
              <!-- <b class="caret m-h-xs hidden-sm"></b> -->
            </a>
          </li>
        </ul>

         <a style="padding: 5px;" bs-aside="aside" data-template="angularModules/login/partials/Partial-sm_User_Menu.html" data-placement="right" data-animation="am-slide-right aside-open-inner modal-open" data-container="body" class="pull-right visible-xs">
              <qrcode ng-if="!userinfo.ActiveUserData.roleMappingObj.avatar.length" version="2" size="30" color="#4A148C" ng-click="$hide()" class="navbar-img  pull-right m-l-xs m-r-xs" data="{{userinfo.ActiveUserData.username}}" ></qrcode>
              <img  ng-if="userinfo.ActiveUserData.roleMappingObj.avatar.length" ng-src="{{userinfo.ActiveUserData.roleMappingObj.avatar}}" alt="..." class="navbar-img img-circle pull-right m-r-xs m-l-xs">
            </a>
        <a class="pull-right visible-xs" style="padding: 5px;" data-animation="am-fade" data-template="angularModules/Notification/partials/Popover-notifictionPopover.html" data-placement="bottom-right" bs-dropdown="dropdown">

              <i class="mdi-social-notifications fa-lg"></i>
              <b class="badge bg-danger up" ng-if="$root.data.userNotification.unreadCount > 0">{{$root.data.userNotification.unreadCount}}</b>
            </a>
        <!-- / navbar right -->

        <!-- search form -->
       <!--  <form class="navbar-form navbar-form-sm navbar-right visible-xs" role="search">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm no-bg btn-icon no-shadow no-padder"><i class="ti-search"></i></button>
              </span>
              <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm no-bg no-border" placeholder="Search...">              
            </div>
          </div>
        </form> -->
        <!-- / search form -->
      </div>
      <!-- / navbar collapse -->
</div>

</div>