      <!-- navbar header ng-class="{'box-shadow-inset dk':app.settings.headerShadow}"  -->
      <div class="navbar-header p-v-xs" ng-class="{'box-shadow-inset dk':app.settings.headerShadow}">
        <button class="pull-right visible-xs" bs-aside="aside" data-template="angularModules/login/partials/Partial-sm_User_Menu.html" data-placement="right" data-animation="am-slide-right aside-open-inner modal-open" data-container="body">
          <!-- <span class="visible-xs m-r pull-left">{{userinfo.ActiveUserData.username}}</span> -->
          <img  ng-if="userinfo.ActiveUserData.roleMappingObj.avatar.length" ng-src="{{userinfo.ActiveUserData.roleMappingObj.avatar}}" class="navbar-img img-circle pull-right m-t" style="margin-top: 0px;">
        </button>
        <!-- brand -->
      <!--   <a class="navbar-brand text-lt">
          <img src="images/Logo.png" class="img-responsive" style="max-height: 40px !important;">
        </a> -->
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse   ng-hide-->
      <!-- ng-class="{'show animated fadeIn' : app.navbarCollapse} add this to enable dynamic color change -->
      <div class="navbar-collapse hidden-xs" ng-class="{'p-v-xs':roleId != $root.userinfo.ActiveUserData.roleMappingObj.fkRoleId}"  ng-class="{'show animated fadeIn' : app.navbarCollapse}">
        <!-- nav -->
<!--         <ul class="nav navbar-nav navbar-left ">
          <li>
            <a ui-sref="app.dashboard" translate="header.navbar.DASHBOARD">
              Dashboard
            </a>
          </li>
          <li>
            <a ui-sref="mail.inbox" translate="header.navbar.EMAIL">
              Email
            </a>
          </li>
          <li>
            <a ui-sref="ui.component.arrow" translate="header.navbar.UIKITS">
              UI Kits
            </a>
          </li>
          <li>
            <a ui-sref="page.profile" translate="header.navbar.PAGES">
              Pages
            </a>
          </li>
        </ul> -->
        <!-- / nav -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right m-r-n ">
          <li>
            <script type="text/ng-template" id="settings">
              <div tabindex="-1" class="p dropdown-menu bg-white bg-inherit no-b-t no-margin w-sm" role="menu">                
                <p class="clearfix">
                  <a class="inline {{color}} p-xs m-h-xs m-v-xs pull-left no-borders" ng-repeat="color in options.headerColor" ng-click="setHeaderColor(color)">
                  </a>
                </p>
                <div class="line b-b b-light m-h-xs"></div>
                <p class="clearfix">
                  <a class="inline {{color}} p-xs m-h-xs m-v-xs pull-left no-borders" ng-repeat="color in options.asideColor" ng-click="setAsideColor(color)">
                  </a>
                </p>
                <div class="line b-b b-light m-h-xs"></div>                
              </div>
            </script>
            <a ng-if="roleId == $root.userinfo.ActiveUserData.roleMappingObj.fkRoleId" class="no-padding-h" href ng-click="appSettings()" bs-tooltip data-title="Customize theme" data-type="success" data-placement="left">
              <i class="mdi-image-color-lens text-2x"></i>
              <span class="visible-xs-inline">Settings</span>
            </a>
          </li>
<!--           <li>
            <a href 
              bs-aside="aside" 
              data-template="views/partials/aside.tpl.chat.html" 
              data-placement="right" 
              data-animation="am-slide-right aside-open-inner modal-open"
              data-container="body"
              >
              <i class="glyphicon glyphicon-comment"></i>
              <b class="badge badge-xs bg-warning up">3</b>
              <span class="visible-xs-inline">Notifications</span>
            </a>
          </li> -->
          <!-- <li class="hidden-xs">
            <a href ui-fullscreen><i class="glyphicon glyphicon-resize-vertical"></i></a>
          </li> -->
          <li>            
            <a href class="clear no-padding-h" bs-aside="aside" data-template="angularModules/login/partials/Partial-sm_User_Menu.html" data-placement="right" data-animation="am-slide-right aside-open-inner modal-open" data-container="body">
              <qrcode ng-if="!userinfo.ActiveUserData.roleMappingObj.avatar.length" version="2" size="30" color="#4A148C" ng-click="$hide()" class="navbar-img  pull-right" data="{{userinfo.ActiveUserData.username}}" style="margin-left: -8px;"></qrcode>
              <img  ng-if="userinfo.ActiveUserData.roleMappingObj.avatar.length" ng-src="{{userinfo.ActiveUserData.roleMappingObj.avatar}}" alt="..." class="navbar-img img-circle pull-right">
              <span class="m-l">{{userinfo.ActiveUserData.username}}</span>
              <b class="fa fa-caret-left m-h-xs m-r-xs"></b>
            </a>
          </li>
        </ul>
        <!-- / navbar right -->

        <!-- search form -->
        <!-- <form class="navbar-form navbar-form-sm navbar-right visible-xs" role="search">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm no-bg btn-icon no-shadow no-padder"><i class="ti-search"></i></button>
              </span>
              <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm no-bg no-border" placeholder="Search...">              
            </div>
          </div> -->
        <!-- / search form -->
      </div>
      <!-- / navbar collapse -->