      <!-- navbar header -->
      <div class="navbar-header p-h-xs" >
        <a style="padding: 10px;" bs-aside="aside" data-template="angularModules/login/partials/Partial-sm_User_Menu.html" data-placement="right" data-animation="am-slide-right aside-open-inner modal-open" data-container="body" class="pull-right visible-xs">
              <qrcode ng-if="!userinfo.ActiveUserData.roleMappingObj.avatar.length" version="2" size="30" color="#4A148C" ng-click="$hide()" class="navbar-img  pull-right m-l-xs m-r-xs" data="{{userinfo.ActiveUserData.username}}" ></qrcode>
              <img  ng-if="userinfo.ActiveUserData.roleMappingObj.avatar.length" ng-src="{{userinfo.ActiveUserData.roleMappingObj.avatar}}" alt="..." class="navbar-img img-circle pull-right m-r-xs m-l-xs">
            </a>
        <a class="pull-right visible-xs" style="padding: 10px;" data-animation="am-fade" data-template="angularModules/Notification/partials/Popover-notifictionPopover.html" data-placement="bottom-right" bs-dropdown="dropdown">

              <i class="glyphicon glyphicon-bell text-md text-dark"></i>
              <b class="badge bg-danger up" ng-if="$root.data.userNotification.unreadCount > 0">{{$root.data.userNotification.unreadCount}}</b>
            </a>
        <!-- brand -->
        <a >
          <img src="{{$root.userinfo.ActiveUserData.appSettings.logo}}" class="img-responsive" style="max-height:35px">
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="navbar-collapse hidden-xs" ng-class="{'show animated fadeIn' : app.navbarCollapse}">
        <!-- nav -->
        <!-- <ul class="nav navbar-nav navbar-left">
          <li>
            <a ui-sref="app.dashboard">
              <i class="fa fa-fw fa-pie-chart"></i>
              <span translate="header.navbar.DASHBOARD">Dashboard</span>
            </a>
          </li>
          <li>
            <a ui-sref="mail.inbox">
              <i class="fa fa-fw fa-envelope"></i>
              <span translate="header.navbar.EMAIL">Email</span>
            </a>
          </li>
          <li>
            <a ui-sref="ui.component.arrow">
              <i class="fa fa-fw fa-suitcase"></i>
              <span translate="header.navbar.UIKITS">UI Kits</span>
            </a>
          </li>
          <li>
            <a ui-sref="page.profile">
              <i class="fa fa-fw fa-file"></i>
              <span translate="header.navbar.PAGES">Pages</span>
            </a>
          </li>
        </ul> -->
        <!-- / nav -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right m-r-n">
          <li>
            <button type="button"  class="btn {{$root.userinfo.ActiveUserData.appSettings.headerColor}} baab-btn no-margin" ng-model="selectedlanguage"  ng-options="obj as obj.language for obj in availlangualges" ng-change="changeLanguage(selectedlanguage)" bs-select>
             
             </button>
          </li>
          <li>
            <a style="padding: 10px;" data-animation="am-fade" data-template="angularModules/Notification/partials/Popover-notifictionPopover.html" data-placement="bottom-right" bs-dropdown="dropdown">

              <i class="glyphicon glyphicon-bell text-md"></i>
              <b class="badge bg-danger up" ng-if="$root.data.userNotification.unreadCount > 0">{{$root.data.userNotification.unreadCount}}</b>
              <span class="visible-xs-inline">Notifications</span>
            </a>
          </li>
          <li ng-if="roleId == $root.userinfo.ActiveUserData.roleMappingObj.fkRoleId" ng-click="redirectTothemeConfiguration()">
            <a style="padding: 10px;"   bs-tooltip data-title="Customize theme"  data-placement="left">
              <i class="mdi-image-color-lens text-md"></i>
              <span class="visible-xs-inline" translate="{{'Settings'|translate}}"></span>
            </a>
          </li>
          <li ng-if="roleId == $root.userinfo.ActiveUserData.roleMappingObj.fkRoleId" ng-click="redirectToGlobalSettings()">
             
            <a style="padding: 10px;" bs-tooltip data-title="Settings"  data-placement="left">
              <i class="mdi-action-settings text-md"  ></i>
            </a>
          </li>
          <li>            
            <a style="padding: 10px;" bs-aside="aside" data-template="angularModules/login/partials/Partial-sm_User_Menu.html" data-placement="right" data-animation="am-slide-right aside-open-inner modal-open" data-container="body">
              <qrcode ng-if="!userinfo.ActiveUserData.roleMappingObj.avatar.length" version="2" size="30" color="#4A148C" ng-click="$hide()" class="navbar-img  pull-right m-l-xs m-r-xs" data="{{userinfo.ActiveUserData.username}}" ></qrcode>
              <img  ng-if="userinfo.ActiveUserData.roleMappingObj.avatar.length" ng-src="{{userinfo.ActiveUserData.roleMappingObj.avatar}}" alt="..." class="navbar-img img-circle pull-right m-r-xs m-l-xs">

              <span class="hidden-sm m-l">{{userinfo.ActiveUserData.username}}</span>
              <!-- <b class="caret m-h-xs hidden-sm"></b> -->
            </a>
          </li>
        </ul>
        <!-- / navbar right -->

        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-right visible-xs" role="search">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm no-bg btn-icon no-shadow no-padder"><i class="ti-search"></i></button>
              </span>
              <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control input-sm no-bg no-border" placeholder="Search...">              
            </div>
          </div>
        </form>
        <!-- / search form -->
      </div>
      <!-- / navbar collapse -->
