<div  class="col-xs-12" >
	<div  class="panel b-t b-00C853 bg-light dk">
		<div  set-sub-heading-and-background-color  class="panel-heading font-bold text-white  p baab-shadow"  translate="{{'Allocate to Course'|translate}}">
		</div>
		<div  class="panel-body col-xs-12 bg-white p-sm b-b-danger b-b-3x">
			<div class="row">
				<course-loader ng-model="course">
			</course-loader>
			</div>		
			<div class="row">
				<div class="col-xs-3">
					<input class="form-control" float-label id="focusedInput" type="text" ng-model="searchUser"  placeholder="Search for a user" >
				</div>					        
			</div>					
		</div>
	</div>
</div>
