<div class="row">
	<div class="col-xs-12 bg-white">
  	<div ng-if="!data.companOrderForms" class="alert alert-dismissable alert-danger">
      <strong translate="{{'There are no any approved users exists.!'|translate}}"></strong> 
	</div>
		<div ng-if="data.companOrderForms && $state.current.name == 'home.main.viewOrderForm'"  masonry='{ "transitionDuration" : "0.8s" , "itemSelector" : ".tile"}'>		
		<!-- ng-if="showOrderFormOnStatus(orderForm.status) && getOptions(orderForm.status,$index).length"	 -->
			<div masonry-tile    class="tile col-lg-4 col-md-4 col-sm-6 col-xs-12 p-sm shadow-z-1 no-padding m-xs" ng-repeat="orderForm in data.companOrderForms.orderFroms">
				<div class="shadow-z-1 set-full-height bg-white p-sm no-padding" style="cursor: pointer;">
					<div class="pull-left shadow-z-1 col-xs-12 btn-material-red-700 p">						
						<span translate="{{'Order Form Id:'|translate}}">&nbsp;</span>
						<span class="font-bold">{{orderForm.customCompanyCode}}</span>
						<i class="mdi-navigation-check text-md pull-right p-l-xs" ng-click="approveOrderForm(orderForm)">{{currentStage.buttonText}}</i>
						<i class="mdi-action-visibility text-md pull-right m-r p-l-xs" ng-click="viewOrderForm(orderForm)" translate="{{'View'|translate}}"></i>
						
						</div>
					</div>
					<div  class="row p-xs">
						<div class="col-xs-12">

							<span class="m-v-xs col-xs-12 no-padding">
							<strong translate="{{'From:'|translate}}">&nbsp;</strong>
								<user-card user-id="orderForm.crmId.$oid"></user-card>
							</span>
						</div>
					</div>
					<div class="row p-xs">
						<div class="col-xs-12">
							<div class="b-b no-padding p-v-xs m-t-xs col-xs-10 font-bold" translate="{{'Courses'|translate}}"></div>
							<div class="b-b no-padding p-v-xs m-t-xs col-xs-2 font-bold" translate="{{'Count'|translate}}"></div>
							<div class="col-xs-12 p-xs" ng-repeat="course in orderForm.orderDetails">
								<div class="col-xs-10 no-padding">{{course.Name}}</div>
								<div class="col-xs-2 no-padding">{{course.userCount}}</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div ng-if="data.approveOrderForm">
			<div name="orderFrom-content"  role="main" ui-view></div>
		</div>
	</div>
</div>



