<div class="tab-container col-md-12">
	 <div class="panel b-t b-00C853 bg-light dk"><div class="panel-heading font-bold text-white bg-00C853 p baab-shadow">User Report</div>
		
		<div class="panel-body col-md-12 bg-white animated fadeInRight p-sm b-b-danger b-b-3x">
		<form name="bulkEnrollmentForm" class="form-validation" role="form" xt-form novalidate >
		 <div class="m-b-sm"></div>
		 <div class="col-xs-1">
            <i class="fa fa-cloud-upload pull-left text-2x"></i>
          </div><div class="col-xs-11">
		 <input type="text" readonly="" class="btn form-control floating-label m-v-md" placeholder="Upload your excel document" style="border-bottom:none;">
            <input type="file" ng-model="excelDoc" fileupload-dir="excelDoc" name="excelDoc" f-max-size="5000" ng-multiple="false" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="avatarInput" onchange="angular.element(this).scope().handleFileSelect(angular.element(this))" xt-form required class="text-info"> </div>
            <div class="col-xs-12"><button class="btn btn-success mdi-av-recent-actors" ng-disabled="bulkEnrollmentForm.$invalid" ng-click="fnBulkEnroll()">Register</button></div>
            </form>
		</div>
	</div>
</div>
