<div>
<div class=" col-xs-12">
	<div class="nav nav-tabs p m-v-md">
  		<div class="text-white b-2x">Question Group</div>
	</div>

	<div>
		<div class="btn btn-primary" ng-click="QuestionModalOpen()">Add Question<div class="ripple-wrapper"></div>
		</div>
		<div class="col-xs-12" ng-repeat="question in questionGroupModel track by $index">
			<question-viewer data="{{fnFormatObj(question)}}" index="1" course-element="courseElement"></question-viewer>
			<i class="pull-right mdi-av-playlist-add text-2x" data-placement="left" bs-dropdown="dropDown($index)"></i>		
		</div>

	</div>
</div>
</div>