<!-- <div>
	<div class="col-xs-12 m-v-md" >
		<question-field ng-model="questionModel" multi-answer="true" ></question-field>
		<div class="btn btn-primary" ng-click="addQuestion(questionModel)">Add Question<div class="ripple-wrapper"></div>
		</div>
	</div>
</div>
 -->
<!-- <div class="modal"role="dialog">
	<div class="modal-content">
    	<div class="modal-header">        
        	<h4 class="modal-title text-primary">Add Question</h4>
    	</div>
      	<div class="modal-body">
      		<div class="box">
        		<question-field ng-model="question" multi-answer="true" ></question-field>
				<div class="btn btn-primary" ng-click="addQuestion(question,index);$hide()">Add Question<div class="ripple-wrapper"></div>
				</div>
      		</div>
      	</div>
    </div>
</div> -->

<div class="aside ng-scope top am-slide-top aside-open-backdrop" tabindex="-1" role="dialog" style="display: block;">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">×</button>
        <h4 class="aside-title ng-binding" ng-bind-html="title">Title</h4>
      </div>
      <div class="aside-body">

          <question-field ng-model="question" ></question-field>       

      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addQuestion(question,index);$hide()">Add Question</button>
      </div>
    </div>
  </div>
</div>