<aside  id="aside" class="app-aside {{app.settings.asideColor}} text-lg" ng-include="'views/aside.html'">
</aside>
<div class="p-md">
	<div class="row" name="innercontent" ui-view>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <span  ng-repeat="menu in userMenus">
          <a  ng-click="loadDetails(menu)" class="animated fadeInDown text-sm btn btn-lg btn-stroke {{classn[($index+1)%classn.length]}} m-l m-t" >
          <i class="fa {{menu.menuIcon}} fa-4x"></i>
          <span class="block clear text-left m-v-xs">
            <b class="text-lg block font-bold">{{menu.MenuName}}</b>
          </span>
          <i class="fa text-lg pull-right right" ng-class="{'fa-arrow-circle-right':menu.childMenuStructure.length}"></i>
        </a>
        </span>
      </div>
	</div>
</div>
