<!--Created By:Jihin
Created On:12/11/2014 -->

<aside id="aside" class="app-aside {{$root.userinfo.ActiveUserData.appSettings.asideColor}} text-lg fixedBc shadow-z-2" ng-include="'views/aside.html'"  style="margin-top:20px;" ng-class="{'btn-material-blue-grey-900':$root.userinfo.ActiveUserData.appSettings.asideColor == undefined , 'animated fadeInDown':navBar,'ng-hide':!navBar}">
</aside>

<div class="p-md" >
	<div class="row" name="innercontent" ui-view>
    <div class="col-xs-12"  masonry='{ "transitionDuration" : "0.8s" , "itemSelector" : ".tile"}'>
      <div ng-if="menu.canView || (menu.canView == undefined)" masonry-tile   ng-repeat="menu in userMenus" class="text-center p-xs pull-left tile masonry-brick" style="width:140px; margin-bottom:0px;">

      <div ng-click="loadDetails(menu)" class="text-sm btn text-dark btn-lg bg-light lt btn-stroke {{colorArray[($index+1)%colorArray.length]}} text-center col-xs-12" style="padding-bottom:0px; margin-bottom:0px; margin-top:0px;">
        
              <div class="row text-center">
                <i class="fa {{menu.menuIcon}} fa-2x" ></i>
              </div>

              <div class="row text-center">
                <span class="block clear m-v-xs word-wrap" text-to-translate = "{{menu.MenuName}}" translate>{{menu.MenuName}}</span>

              <div class="row text-right" style="margin-bottom:0px;"  ng-show="{{menu.childMenuStructure.length}}">
                <!-- <button class="btn btn-xs"> -->
                  <i class="mdi-navigation-chevron-right text-2x"></i>
                <!-- </button> -->
                
              </div>

        </div>

        </div>       
      </div>
	</div>


        <!-- <span  ng-repeat="menu in userMenus" class="visible-xs col-xs-12 p-xs" style="cursor: pointer;">

      <div ng-click="loadDetails(menu)" class="animated fadeInDown p-xs text-sm b bg-light lt">
          <i class="fa {{menu.menuIcon}} fa-2x pull-left col-sm-1 col-xs-2" style="margin-top: 2px;"></i>
          <span class="block clear text-left m-v-xs"><span class="text-lg block pull-left">{{menu.MenuName}}</span>
          <i class="fa fa-caret-right m-t-xs pull-right" ng-show="{{menu.childMenuStructure.length}}"></i>
          </span>
        </div>
        </span> -->

</div>
</div>
