<div class="aside w-sm b-l" role="dialog" style="top:0px!important;">
  <div class="box">
    <div class="p" style="position: absolute;right: 5px;z-index: 1;">
      <a ng-click="$hide()" class="pull-right text-muted"><i class="fa fa-times"></i></a>
    </div>
    <div class="box-row">
      <div class="box-cell">
        <div class="box-inner">
          <div class="list-group no-radius no-borders">
            <a class="list-group-item p-h-md bg-baabtra">
              <img src="images/a1.jpg" class="pull-left w-thumb m-r b-b b-b-2x b-success">
              <div class="clear">
                <span class="font-bold block">{{loggedUserInfo.username}}</span>
                <span class="clear text-ellipsis text-xs">{{loggedUserInfo.eMail}}</span>
              </div>
            </a>
            <!-- <div class="p-h-md p-v-xs m-t">Work</div> -->
            <a class="list-group-item p-md bg-hover-green-line">
                <i class="glyphicon glyphicon-user text-sm m-r-xs"></i>
                <span class="text-sm">Profile</span>
            </a>
            <a class="list-group-item p-md bg-hover-green-line" >
                <i class="fa fa-gears text-sm m-r-xs"></i>
                <span class="text-sm">Settings</span>
            </a>
            <a class="list-group-item p-md bg-hover-green-line">
                <i class="fa fa-lock text-sm m-r-xs"></i>
                <span class="text-sm">Lock me</span>
            </a>
             <a class="list-group-item p-md bg-hover-green-line" ng-click="details()">
                <i class="glyphicon glyphicon-search text-sm m-r-xs"></i>
                <span class="text-sm">Details</span>
            </a>
            <a class="list-group-item p-md bg-hover-green-line" ng-click="logout()">
                <i class="glyphicon glyphicon-log-out text-sm m-r-xs"></i>
                <span class="text-sm">LogOut</span>
            </a>
           
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="p-h-md p-v">
      <p>Invite People</p>
      <a href class="text-muted"><i class="fa fa-fw fa-twitter"></i> Twitter</a>
      <a href class="text-muted"><i class="fa fa-fw fa-facebook"></i> Facebook</a>
    </div> -->
  </div>
</div>