<div class="row">
	<div class="panel">
		<form name="Manage_course_element_fields" xt-form novalidate>
			<div class="panel-heading font-bold bg-primary">Manage Course Element Fields</div>
			<div class="panel-body">
					
				<!-- Dispaly Name -->
				<div class="col-xs-4">
					<paper-input-decorator label="Dispaly Name" floatinglabel>
						<input class="" ng-model="element.DispalyName" name="DispalyName" required xt-validate>
					</paper-input-decorator>
				</div>

				<!-- Name -->
				<div class="col-xs-4">
					<paper-input-decorator label="Name" floatinglabel>
						<input name="Name" ng-model="element.Name" required xt-validate>
					</paper-input-decorator>
				</div>

				<div class="col-xs-4 m-v-lg">
					<div class="paper-dropdown">
					<select placeholder="Select palette" data-animation="am-fade-and-slide-top"  ng-model="element.paletteName" ng-options="value.name as value.name for (key, value) in palette" data-html="true" bs-select></select>
					</div>
				</div>

				<!-- Default template -->
				<div class="col-xs-12">
					<paper-input-decorator label="Default template" floatinglabel>
						<paper-autogrow-textarea>
							<textarea ng-model="element.DefaultTemplate" name="DefaultTemplate" required xt-validate rows="0" style="width:100%;"></textarea>
						</paper-autogrow-textarea>
					</paper-input-decorator>
				</div>

				<!-- Properties template -->
				<div class="col-xs-12">
					<paper-input-decorator label="Properties template" floatinglabel>
						<paper-autogrow-textarea>
							<textarea ng-model="element.PropertiesTemplate" name="PropertiesTemplate" required xt-validate rows="0" style="width:100%;"></textarea>
						</paper-autogrow-textarea>
					</paper-input-decorator>
				</div>
			</div>
			<div class="panel-footer">
				<paper-button raised class="bg-danger baab-btn" type="button">Cancel</paper-button>
				<paper-button class="pull-right baab-btn" ng-class="{'bg-info':!Manage_course_element_fields.$invalid}" ng-disabled="Manage_course_element_fields.$invalid" disabled="disabled" raised type="button" ng-click="saveCourseElementFields()">Save</paper-button>
			</div>
		</form>
	</div>
	<div class="col-xs-12">
		<div class="p-b-lg list-group-gap col-xs-12 col-md-6 col-lg-3" ng-repeat="(key, courseElementField) in courseElementFields">
			<a title="Click to edit" href=""  class="list-group-item" ng-click="editCourseElement(courseElementField)">{{courseElementField.DispalyName}}
				<span ng-click="fnDeleteCourseElementFields(courseElementField._id.$oid)" title="Click to delete" class="pull-right text-muted m-l-xs">
					<i class="fa fa-trash"></i>
				</span>
			</a>
		</div>
	</div>
</div>
