<div class="page-sidebar" id="sidebar" >
                <!-- Page Sidebar Header-->
                <div class="sidebar-header-wrapper">
                    <input type="text" class="searchinput" />
                    <i class="searchicon fa fa-search"></i>
                    <div class="searchhelper">Search contents, Users, Emails or Notifications</div>
                </div>
<!--<ul class="nav sidebar-menu"  ng-repeat="menus in menulist[0].menuStructure[0].regionMenuStructure" ng-click="Fntest()">-->
<ul class="nav sidebar-menu"  ng-repeat="menus in menulist[0].menuStructure[0].regionMenuStructure" ng-click="FnShowSubMenus(menus,count=count+1)" ng-init="count=0" >  
<!--<ul class="nav sidebar-menu"  ng-repeat="menus in menulist.menuStructure.regionMenuStructure" ng-click="FnShowSubMenus(menus,count=count+1)" ng-init="count=0">-->
<!--<ul class="nav sidebar-menu"  ng-repeat="menus in menulist" ng-click="FnShowSubMenus(menus,count=count+1)" ng-init="count=0"> -->
<!--repeats the list according to list of menus getting binded from database -->
<!--<ul class="nav sidebar-menu"  ng-repeat="menus in menulist[0].menuStructure[0].regionMenuStructure">-->
        <li ng-model="menus" >
        <!--<a ng-href="{{menus.MenuLink}}" class="menu-dropdown">--><!--binds the link -->
        <a ng-href="#" class="menu-dropdown">
            <i class="menu-icon fa {{menus.MenuIcon}}"></i> <!--binds corresponding menuIcon-->
            <span class="menu-text">{{menus.MenuName}}</span><!--binds the menu names-->
            <i ng-show="menus.childMenuStructure.length" class="menu-expand"></i><!--checks whether sublist exists-->
        </a>
        <ul class="submenu" ng-style="subleftmenu">
            <li ng-repeat="submenus in menus.childMenuStructure">
                <!--<a ng-href="{{submenus.MenuLink}}" class="menu-dropdown">-->
                <a ng-href="#" class="menu-dropdown">
                    <span class="menu-text">{{submenus.MenuName}}</span>
                </a>
            </li>
         </ul>
       
               <!-- <a ng-href="{{submenu.MenuLink}}" class="menu-dropdown">
                    <span class="menu-text">{{submenu.MenuName}}</span>
                    <i class="menu-expand"></i>
                </a>-->
            </li>
        </ul>


                       </div>