<script type="text/ng-template" id="nodes_renderer.html" />
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget flat radius-bordered">
            <div class="widget-header bg-blue">
                <span class="widget-caption">Add Menu items to each User</span>
            </div>
            <div class="widget-body">
                <div class="row">
                
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                    <!-- Search User details-->
                    <div class="row"> <div class="col-lg-9 col-sm-6 col-xs-12"><ul class="pagination pagination-sm">
                        <li class="disabled">
                        <li ng-repeat="val in alphabets" class="{{activeLink== val ? 'active' : ''}}"><a ng-click="getUsers('{{val}}')" href="">{{val}}</a></li>
                                  
                        </ul></div>
                        <div class="col-lg-3 col-sm-6 col-xs-12"> <div class="task-search pull-right">
                                <span class="input-icon">
                                <input data-ng-model="txtSearchUser" ng-model-options="{debounce: 1000}" type="text" class="form-control" placeholder="Search Users">
                                    <i class="fa fa-search gray"></i>
                                    </span>
                                    </div></div>
                    </div>
                    <!-- End Search User details-->
                      <div class="row">
                      
                       <div class="col-lg-12 col-sm-6 col-xs-12 ng-scope"><h5 class="row-title before-magenta"><i class="fa fa-edit magenta"></i>Users Lists</h5></div>
                       </div>
                        <div class="row"><div class="col-lg-12 col-sm-12 col-xs-12 ng-scope"><div class="col-lg-12 col-sm-12 col-xs-12 ng-scope" ng-style="scOverflow">
                       
                        <div class="col-lg-2 col-sm-6 col-xs-12" ng-repeat="user in UserList | filter:txtSearchUser">
                            <div class="checkbox">
                                <label>
                                    <input name="form-field-radio"  class="colored-blue"  ng-click="getExMenus(user.value.fkUserRoleMappingId.$oid,user.value.fkRoleId.$oid)" type="radio">  
                                    <span class="text">{{user.value.userName}}</span>
                                </label>
                            </div>
                        </div></div>
                    </div></div><hr class="wide">
                </div>
                    <div class="col-lg-12 col-sm-12 col-xs-12">

  <!-- Nested node template -->
  <script type="text/ng-template" id="Render_ExMenus.html">
    <div ui-tree-handle class="tree-node dd-item dd2-item" data-id="13">
      <div class="dd-handle dd2-handle">
            <i class="normal-icon fa {{node.MenuIcon}}"></i>
            <i class="drag-icon fa fa-arrows-alt"></i>
                                         
      </div> <div class="dd2-content">
       <a data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        {{node.MenuName}}
 
    </div>
    <ol ui-tree-nodes="" ng-model="node.childMenuStructure" ng-class="{hidden: collapsed}" class="dd-list">
      <li ng-repeat="node in node.childMenuStructure" class="dd-item dd2-item" data-id="13"  ui-tree-node ng-include="'Render_ExMenus.html'">
      </li>
    </ol>
  </script>
  <script type="text/ng-template" id="Render_AllMenus.html">
    <div ui-tree-handle class="tree-node dd-item dd2-item" data-id="13">
      <div class="dd-handle dd2-handle" >
         <i class="normal-icon fa {{node.MenuIcon}}"></i>
            <i class="drag-icon fa fa-arrows-alt"></i>
      </div>
      <div class="dd2-content">
       <a data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
        {{node.MenuName}}
        
      </div>
    </div>
    <ol ui-tree-nodes="" ng-model="node.childMenuStructure" ng-class="{hidden: collapsed}">
      <li ng-repeat="node in node.childMenuStructure" ui-tree-node ng-include="'Render_AllMenus.html'">
      </li>
    </ol>
  </script>

  
   
    <div class="row">
     <div class="col-lg-6 col-sm-6 col-xs-12">
       <h5 class="row-title before-magenta"><i class="fa fa-edit magenta"></i>Existing Menu Lists</h5>
        <div ui-tree id="tree1-root" class="dd dd-draghandle bordered">
          <ol ui-tree-nodes="" ng-model="tree1" class="dd-list">
            <li ng-repeat="node in tree1" class="dd-item dd2-item" ui-tree-node ng-include="'Render_ExMenus.html'"></li>
          </ol>
        </div>
        <div class="pull-left">
        <button ng-show="tree1.length" ng-click="FnAddUserMenu()" type="button" class="btn btn-blue">Save Changes</button>
        <button ng-show="tree1.length" type="button" class="btn btn-blue">Reset</button>
        </div>
      </div>

      <div class="col-lg-6 col-sm-6 col-xs-12">
        <h5 class="row-title before-magenta"><i class="fa fa-edit magenta"></i>Existing Menu Lists</h5>
        <div ui-tree id="tree2-root" class="dd dd-draghandle bordered">
          <ol ui-tree-nodes="" ng-model="tree2" class="dd-list">
            <li ng-repeat="node in tree2" class="dd-item dd2-item" ui-tree-node ng-include="'Render_AllMenus.html'"></li>
          </ol>
        </div>
      </div>
    </div>

    <h3>Data binding</h3>
    <div class="row">
      <div class="col-sm-6">
        <pre class="code">{{ tree1 | json }}</pre>
      </div>

      <div class="col-sm-6">
        <pre class="code">{{ tree2 | json }}</pre>
      </div>
    </div>



                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
