<div class="aside col-xs-5 m-h-n baab-shadow" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
        <div class="aside-title p m-l-n m-r-n font-bold p-xs shadow-z-2 bg-light"  translate="{{'Navigate'|translate}}"></div>
      <div class="aside-body" >
        <form name="syllabus">
          <div class="row">
            <div class="col-xs-12">
              <div class="font-bold">Syllabus</div>
              <div ng-if="candidateCourse.syllabus" data-angular-treeview="true" data-tree-id="syllabusTree" data-tree-model="candidateCourse.syllabus" data-node-output="selectedElement.element" data-tree-mode="add" data-node-edit="false" data-status="true" data-node-id="nodeId" data-node-label="name" data-node-children="children" ></div>
                
            </div>
          </div>
        </form>
      </div>
      <div class="aside-footer">
        <div class="row m-v-n p-xs">
         <!--  <button type="button" class="btn btn-warning baab-btn no-margin" translate="{{'Show Element'|translate}}" ng-click="showElement()"></button>
 -->
        
        </div>
      </div>     
    </div>
  </div>
</div>
