<div class="row">
  <div class="col-xs-12">
    <div class="panel b-t b-03A9F4 bg-light dk">
      
      <div class="panel-body">

          <div  class="col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-left">
            <div class="btn-stroke btn-inbox-green  panel course-box text-center p">
            	<i class="mdi-action-account-balance text-3x"></i>
                 <div class="panel-body ">Take me to class room</div>
            </div>
          </div>

          <div  class="col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-left">
            <div class="btn-stroke btn-inbox-blue panel course-box text-center p">
            	<i class="mdi-image-straighten text-3x"></i>
                 <div class="panel-body ">View course timeline</div>
            </div>
          </div>


      </div>
    </div>
  </div>
</div>
