<div class="row">
  <div class="col-xs-12">
    <div class="panel b-t b-03A9F4 bg-light dk">
      
      <div class="panel-body">

          <!-- header container -->
          <div>

            <div class="btn btn-material-deep-purple-200">View timeline</div>
            <div class="btn btn-material-blue-200">View summary</div>

            <div class="col-xs-6 col-sm-5 m-l-lg pull-right">
                <percent-indicator show-percentage="true" total-value="total" obtain-value="obtained">
                </percent-indicator>
            </div>

          </div>
          <!-- header container end -->

          <!-- body container -->
          <div class="col-xs-12">

            <!-- course element preview box  -->
            <div class="col-xs-12 col-lg-10 col-sm-8 b">

            </div>
            <!-- course element preview box end  -->


            <!-- chat box container -->
            <div class="col-xs-12 col-lg-2 col-sm-4 b b-dark" >
              <div ng-include="'views/partials/chat.html'"></div>

            </div>
            <!-- chat box container end -->

          </div>
          <!-- body container end  -->

      </div>
    </div>
  </div>
</div>
