<div class="row">
  <div class="col-xs-12">
    <div class="panel b-t b-03A9F4 bg-white dk">
      
      <div class="panel-body">

          <!-- header container -->
          <div class="b-b b-dark">

            <div class="btn btn-material-deep-purple-400" ng-disabled="!courseId.$oid" ng-click="navigateToTimeline(courseId)">View timeline</div>
            <div class="btn btn-material-blue-400" ng-click="navigateToSummary(courseId)">View summary</div>

            <div class="col-xs-12 col-sm-5 m-l-lg pull-right">
                <percent-indicator value-suffix="Your score is " show-percentage="true" total-value="totalMark" obtain-value="markScored">
                </percent-indicator>
            </div>

          </div>
          <!-- header container end -->

          <!-- body container -->
          <div class="col-xs-12">

            <!-- course element preview box  -->
            <div class="col-xs-12 col-lg-10 col-sm-8 b">
              <div class="col-xs-12">
                {{tlPointName}}
                <course-element-full-view course-id="courseId.$oid" preview-data="PrevObj"></course-element-full-view>
              </div>
              <div ng-if="lastElement" class="col-xs-12 p">
                <div class="alert alert-dismissable alert-danger">
                    <!-- <button type="button" class="close" data-dismiss="alert">×</button> -->
                    <strong>Oh sorry..!</strong> There are no more meterials to show.
                </div>
              </div>

              <div class="col-xs-12">
                <div class="btn btn-material-purple-A200" ng-disabled="lastViewedOrder==0" ng-click="getElement('previous')">Previous</div>
                <div class="btn btn-material-indigo-A400 pull-right" ng-disabled="lastElement" ng-click="getElement('next')">Next</div>
              </div>
            </div>
            <!-- course element preview box end  -->


            <!-- chat box container -->
            <div class="col-xs-12 col-lg-2 col-sm-4" >
              <!-- <div ng-include="'views/partials/chat.html'"></div> -->

            </div>
            <!-- chat box container end -->

          </div>
          <!-- body container end  -->

      </div>
    </div>
  </div>
</div>
