<div class="col-xs-12 ">
	<form name="assignmentForm">
		<div class="form-group">

		</div>
		<div class="form-group">

		</div>


	</form>
	<div class="btn btn-primary" ng-disabled="assignmentForm.$invalid" ng-click="questionShowActivate()">
		<span translate="{{'Add Assignment Question' | translate}}"></span>
		<div class="ripple-wrapper"></div>
	</div>

	<div class="col-xs-12" ng-repeat="assignment in assignmentsModel track by $index">
		
		<div class="col-xs-12" >
			<question-viewer data="{{fnFormatObj(assignment)}}" index="1" course-element="courseElement"></question-viewer>
		</div>
		
		<div class="col-xs-12">
			<i class="pull-right mdi-av-playlist-add text-2x" data-placement="left" bs-dropdown="dropDown($index)"></i>		
		</div>

	</div>


</div>