<div class="col-xs-12">
	<div ng-if="!feedbackShow" class="btn btn-primary" ng-disabled="questionMarkField.$invalid" ng-click="feedbackShowActivate()" translate="{{'Add Feedback Question' | translate}}"><div class="ripple-wrapper"></div>
	</div>
	<div class="col-xs-12" ng-if="feedbackShow">
			<form name="feedbackFrom" xtform no-validate>
        		<feedback-field ng-model="feedbackModel"></feedback-field>
        	     
        	     <div class="btn btn-warning" ng-click="feedbackShowDeactivate()" translate="{{'Discard' | translate}}"><div class="ripple-wrapper"></div>
        		 </div>
        		<div class="btn btn-primary" ng-disabled="feedbackFrom.$invalid" ng-click="addFeedback(feedbackModel)" translate="{{'Add to Feedback' | translate}}"><div class="ripple-wrapper"></div>
        		</div>
        	</form>  	
    </div>
    
</div>