<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <button type="button" class="close" ng-click="$hide()">
        	<i class=" fa fa-close"></i>
        </button>
        <h3 class="aside-title" >
        	Mark Attendence
        </h3>
      </div>
      <div class="aside-body">
      	<div class=" list-group  bg-inherit">
			<div class="animated flipInX">
        		<div  class="list-group-item " ng-repeat="courseElement in courseElementlist">
	        		
	        			<div class="pull-left">
	        				<i class="fa fa-calendar"></i> Day{{courseElement.tlpoint}}
	        			</div>
	        			<br>
	          			<div class="font-bold">
	          				{{courseElement.userCourseElementType}}
	          			</div>
	          				<div class="checkbox">
	        					<label>
	            					<input ng-model="courseElement.courseElement.attendence" ng-change="fnMarkAttendence(courseElement)" type="checkbox">
	        					</label>
							</div>
				
        		</div>
            </div>
      	</div>        
      </div>
    </div>
  </div>
</div>