<div>
	<div class="bg-light">
		<div class=" m-b-lg" style="position:fixed; width:101%; z-index:100;">
			<div class="col-xs-12 font-bold text-right p upper bg-white shadow-z-1">
				{{menteeObj.selectedCourse.Name}}
			</div>
		</div>
		<div class="row p-v"  ng-if="menteeObj.selectedCourse" style="padding-top: 80px;padding-bottom: 15px;">
			<div class="col-md-push-2 col-xs-push-0 col-md-8 col-xs-12 col-sm-12 col-xs-12">

				<div  ng-repeat="(key, element) in menteeObj.selectedCourse.elementOrder track by key" >
					{{element}}
					<evaluation-loader course-timeline="menteeObj.selectedCourse.courseTimeline" element-order="element" evaluator-id="rm_id" course-mapping-id="menteeObj.selectedCourse._id.$oid"></evaluation-loader>
				</div>
			</div>
		</div>
	</div>
</div>