<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form name="formRepeat" class=" ng-pristine ng-valid"> 
      <div class="modal-header">        
        <h4 class="modal-title text-primary">Repeat</h4>
      </div>
      <div class="modal-body">
       <div class="row"> 
           <div class="col-xs-12 col-sm-12">
            <div class="form-group">
               <label for="select" class="control-label">Repeats</label>
                <select class="form-control" id="select" ng-model="Batch.repeatItem" ng-change="fnLoadsubItem(Batch.repeatItem)" ng-options="rpt.id as rpt.text for rpt in repeatArrays" required>
                  <option selected="selected" value="" required >select an option</option>
                  <!-- <option ng-repeat = "repeatArray in repeatArrays"  value="{{repeatArray.id}}">{{repeatArray.text}}</option> -->  
                </select>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
               <label for="select" class="control-label">Repeat every</label>
                <select class="form-control" id="select" ng-model="Batch.row" >
                   <option selected="selected" value="" required >select an option</option>
                  <option ng-repeat = "row in repeatEvery" value="{{row}}">{{row}}</option>  
                </select> 
                </div>
                <div class="col-xs-6">
                <label class="m-v">{{repeatType}}</label>
                </div>
                </div>
            </div>
            
            <div class="form-group">
             <label >Don't Start On</label>
               <div class= "row">
                    <div class="col-xs-12">
                     <div class="checkbox checkbox-inline no-margin"  ng-repeat="day in days" bs-tooltip data-title="{{day.id}}" ng-model="Batch.day"  >
                        <label >
                            <input type="checkbox"value="day"  >{{day.text}}
                        </label>
                      </div>
                    </div>  
                </div>       
            </div> 
           
            <div class="form-group">
            <label > Starts On</label>
             <input type="text" class="form-control" ng-model="Batch.startDate" data-date-format="dd-MM-yyyy" data-placement="top" data-date-type="number" data-autoclose="true" data-min-date="today"  name="date2" bs-datepicker required>
            </div>
            <div class="form-group">
            <label > Ends On</label>
             <input type="text" class="form-control" ng-model="Batch.endDate" data-date-format="dd-MM-yyyy" data-placement="top" data-date-type="number" data-autoclose="true" data-min-date="today"  name="date1" bs-datepicker required>
            </div>   
           </div>  
       
       </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="saveRepeatfn()" ng-disabled="formRepeat.$invalid">Done</button>
      </div>
      </form> 
    </div>
  </div>
</div>
