<div class="col-xs-12 bg-light">
  <div class="row bg-white shadow-z-1 p-v-sm fixed-tab">
    <div class="col-xs-12 p-v-sm font-bold" ng-if="menteeAttendanceObj.menteeLoginId">
      <get-user-name login-id="menteeAttendanceObj.menteeLoginId"></get-user-name >
    </div>
  </div>
  <div class="row" style="margin-top:56px;">
    <div class="col-xs-12">
      <div class="row p-v bg-white">

        <div class="col-xs-12 col-md-3">
          <div ng-repeat="batch in menteeAttendanceObj.menteesBatchDetails" class="panel b-light link" ng-class="{'btn-material-green-400':menteeAttendanceObj.selectedBatchId == batch._id.$oid}" ng-click="loadAttendanceDetails(batch)">
            <div class="panel-body p-sm">
              <div class="clear">
                <div class="text-lg font-bold">{{batch.batchName}}</div>
                <span ng-if="batch.status" class="label label-primary text-name">{{batch.status}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-11 col-md-8 b-l p-v bg-warning" ng-if="!menteeAttendanceObj.candidateAttendance">
          Please select a batch to load attendance details
        </div>

        <div class="col-xs-11 col-md-8 b-l p-v bg-warning" ng-if="menteeAttendanceObj.candidateAttendance && !menteeAttendanceObj.candidateAttendance.attendance.length">
         Attendance not taken 
        </div>

        <div class="col-xs-12 col-md-9 b-l" ng-if="menteeAttendanceObj.candidateAttendance.attendance.length">
          <div class="row" >
            <div class="col-xs-12 p-v text-bold text-lg b-b">
              <i class="fa fa-clock-o font-bold"></i>
              Attendance
            </div>
          </div>
          <div class="row p-v">
            <div class="col-xs-12 col-md-5" >
              <div google-chart chart="menteeAttendanceObj.chartObject" style="{{cssStyle}}"></div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="panel b-light">
                <div class="panel-heading bg-white b-b">
                  Total working days&nbsp;:&nbsp;{{menteeAttendanceObj.totalWorkingDays}}
                </div>
                <div class="progress progress-xxxs no-margin no-radius bg-white">
                  <div class="progress-bar bg-light" style="width:{{menteeAttendanceObj.percentage}}%"></div>
                </div>
                <div class="panel-body no-padding">
                  <div class="clear">
                    <div class="list-group no-margin">
                      <div class="p-v-sm p-h link" >
                        <span class="pull-right">{{menteeAttendanceObj.totalPresent}}</span>
                        <i class="fa fa-fw fa-circle text-info"></i>
                        Total Present Days
                      </div>
                      <div class="p-v-sm p-h link" bs-tooltip data-title="Click here to know more" data-placement="left" ng-click="loadLeaveDetails('totalLeave')">
                        <span class="pull-right" >{{menteeAttendanceObj.totalLeave.count}}</span>
                        <i class="fa fa-fw fa-circle text-danger"></i>
                        Total Leave Days
                      </div>
                      <div class="p-v-sm p-h link" bs-tooltip data-title="Click here to know more" data-placement="left" ng-click="loadLeaveDetails('totalAbsent')">
                        <span class="pull-right">{{menteeAttendanceObj.totalAbsent.count}}</span>
                        <i class="fa fa-fw fa-circle text-warning"></i>
                        Total Absent Days
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row" ng-if="menteeAttendanceObj.tableType">
            <div class="col-xs-12 col-md-4">
              <div class="table-responsive">
                <table class="table table-bordered bg-white">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="date in menteeAttendanceObj[menteeAttendanceObj.tableType].dates">
                      <td>{{$index+1}}</td>
                      <td>{{date |date:'dd-MMM-yyyy'}}</td>
                      <td>{{(menteeAttendanceObj.tableType == 'totalLeave')?'Leave':'Absent'}}</td>
                    </tr>
                  </tbody>
                </table>
             </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

  </div>
</div>
