
<div class="p-h-sm">
	<div class="bg-light b">
		<div class="panel">
			<div class="text-lg shadow-z-1 p" set-sub-heading-and-background-color>
				<div translate="{{'View Batches'|translate}}"></div>
			</div>
			<div class="col-xs-12 p-xs">
				<input type="text" ng-model="searchText" ng-change="fnSearchBatchMentee(searchText)" class="form-control col-xs-8" placeholder="{{'Search'|translate}}">
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-push-2 col-xs-push-0 col-md-8 col-xs-12 col-sm-12 col-xs-12 p-xs noselect no-padding"  ng-repeat="batch in batchObj.batchList">
					<batch-view batch="batch" specific-option="currentOption" action-flag="false"></batch-view>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


