<div class="bg-light">
	<div class="container">

		<div class="row p-v" ng-if="batchObj.mode != 'view'">
			<div class="col-md-12">
				<div class="panel bg-white">
					<form name="form" class="form-validation">
				    	<div class="p-sm b-b">
				    		<h4>Create Batch</h4>
						</div>
						<div class="panel-body no-padding-v">
							<div class="form-group">
				            	<div class="row">
				            		
				                	<div class="col-sm-4">
				                		<label>Academic Year</label>
				                		<academic-year-loader required class="no-padding-h" year-name="batchObj.newBatch.academicYearName" ng-model="batchObj.newBatch.academicYear">
				                		</academic-year-loader>
				                	</div>

				                	<div class="col-sm-4">
				                		<label>Batch Course</label>
				                		<class-room-loader required course-name="batchObj.newBatch.batchCourseName" class="no-padding-h" ng-model="batchObj.newBatch.batchCourse">
				                		</class-room-loader>
				                	</div>

				                	<div class="col-sm-4">
				                		<label>Batch Name</label>
				                		<input type="text" class="form-control" ng-model="batchObj.newBatch.batchName" placeholder="Enter Batch Name" ng-blur="checkExists('Batch Name', 'batchName', batchObj.newBatch.batchName)" required>
				                	</div>
				              </div>
			            	</div>

			            	<div class="form-group">
				            	<div class="row">
				            		
				                	<div class="col-sm-4">
				                		<label>Batch Alias</label>
				                		<input type="text" class="form-control" ng-model="batchObj.newBatch.batchAlias" placeholder="Enter Batch Alias" required >
				                	</div>

				                	<div class="col-sm-4">
				                		<label>Start Date</label>
				                		<input type="text" class="form-control" ng-model="batchObj.newBatch.startDate" placeholder="Select Start Date" autocomplete="off"  data-date-format="dd-MM-yyyy" data-date-type="date" data-autoclose="true" bs-datepicker required>
				                	</div>

				                	<div class="col-sm-4">
				                		<label>End Date</label>
				                		<input type="text" class="form-control" ng-model="batchObj.newBatch.endDate" placeholder="Select End Date" autocomplete="off"  data-date-format="dd-MM-yyyy" data-date-type="date" data-autoclose="true" bs-datepicker required>
				                	</div>
				              </div>
			            	</div>

			            	<div class="form-group">
				            	<div class="row">
				            		
				            		<div class="col-sm-4">
				                		<label>No of Seats</label>
				                		<input type="number" class="form-control" ng-model="batchObj.newBatch.noOfSeats" placeholder="Enter No of Seats available" >
				                	</div>

				                	<div class="col-sm-4">
				                		<div class="checkbox">
							    			<label>
							    				<input ng-model="batchObj.newBatch.status" value="1" type="checkbox"> Active
							    			</label>
					    				</div>
				                	</div>

				                	
				              </div>

				            <div class="form-group" ng-if="batchObj.errorMsg.length">
				            	<div class="row text-right has-error">
				            		<div ng-repeat="msg in batchObj.errorMsg"  class="col-xs-12 help-block no-margin">{{msg}}</div>
				            	</div>
				            </div>
			            	</div>

						</div>

						<div class="p-sm b-t text-right">
				    		<a ng-if="!batchObj.newBatch._id" class="btn btn-info baab-btn no-margin"  ng-disabled="form.$invalid" disabled="disabled" ng-click="saveBatch(batchObj.newBatch)">Create</a>

		    				<a ng-if="batchObj.newBatch._id" class="btn btn-info baab-btn no-margin" ng-disabled="form.$invalid" ng-click="saveBatch(batchObj.newBatch)" disabled="disabled">Update</a>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row p-v" ng-if="batchObj.mode == 'view' && batchObj.batchList">
			<div class="col-md-12">
				<div class="panel bg-white">
					<div class="panel-body ">
						<div class="bg-warning col-xs-12 p" ng-if="!batchObj.batchList.length">
							Batches Not Found
							<a class="font-bold pull-right" ui-sref="home.main.batch({ key: 'create'})">
								Create Batch
							</a>
						</div>
						<div class="table-responsive" ng-if="batchObj.batchList.length">
						    <table class="table table-bordered bg-white no-margin">
						      <thead>
						        <tr>
						          <th>#</th>
						          <th>Academic Year</th>
						          <th>Course</th>
						          <th>Batch Name</th>
						          <th>Batch Alias</th>
						          <th>Start Date</th>
						          <th>End Date</th>
						          <th>Status</th>
						          <th></th>
						        </tr>
						      </thead>
						      <tbody>
						        <tr ng-repeat="batch in batchObj.batchList">
						          <td>{{$index+1}}</td>
						          <td>{{batch.academicYearName}}</td>
						          <td>{{batch.batchCourseName}}</td>
						          <td>{{batch.batchName}}</td>
						          <td>{{batch.batchAlias}}</td>
						          <td>{{batch.startDate | date:'dd-MMM-yyyy'}}</td>
						          <td>{{batch.endDate | date:'dd-MMM-yyyy'}}</td>
						          <td>
						          	<span class="" ng-if="!batch.status"><i class="glyphicon glyphicon-remove-circle fa-lg text-danger"></i>&nbsp;Inactive</span>
						          	<span class="" ng-if="batch.status"><i class="glyphicon glyphicon-ok-circle fa-lg text-success"></i>&nbsp;Active</span>
						          </td>
						          <td>
						          	<a title="Update" ui-sref="home.main.batch({ key: 'update', _id:batch._id.$oid })"><span class="glyphicon glyphicon-pencil"></span></a>
						          	&nbsp;
						          	<a title="Delete" ng-click="deleteBatch(batch, $index)"><span class="glyphicon glyphicon-trash"></span></a>
						          </td>
						        </tr>
						      </tbody>
						    </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
