<div class="row">
  <div class="col-xs-12">
    <div class="panel">
     <form name="batchAdd" xt-form  class="ng-pristine ng-valid"> 
      <div class="panel-heading font-bold text-white bg-00C853 p baab-shadow">Manage Batches</div>
      <div class="panel-body">
        <div class="row">
              <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                   <label>Batch Name</label>
                   <input class="form-control" ng-model="Batch.batchName" placeholder="{{'Name of the Batch'|translate}}"  required>
                  </div>
                  <div class="form-group">
                    <div class="radio radio-primary">
                      <label>
                          <input type="radio" name="optionsRadios" id="batchMode" value="onetime" ng-model="Batch.batchMode" ng-change="fnLoadPopupRepeat(Batch.batchMode)" required >
                          Onetime
                      </label>
                    </div>
                    <div class="radio radio-primary">
                      <label>
                          <input type="radio" name="optionsRadios" id="repeat" value="repeat" ng-model="Batch.batchMode" ng-change="fnLoadPopupRepeat(Batch.batchMode)" required >
                          Repeat
                      </label>
                    </div>
                    <em class="text-muted text-E91E63">&nbsp;(Please specifiy  the Mode of Batch)</em>    
                  </div>
                  <div class="form-group">   
                      <div class="radio radio-primary">
                        <label>
                            <input type="radio" name="optionsRadios" ng-model="Batch.batchType" value="offline" required> Offline
                        </label>
                      </div>
                      <div class="radio radio-primary">
                        <label>
                            <input type="radio"  ng-model="Batch.batchType" value="instructorLead" required > Instructor Lead
                        </label>
                      </div>
                    <em class="text-muted text-E91E63">&nbsp;(Please specifiy  the Type of Batch)</em>                
                  </div> 
                  <div class="form-group">
                    <label>Number Of Seats</label>
                    <input type="number" ng-model="Batch.seats" class="form-control" placeholder="{{'Total number of seats'|translate}}" required >
                  </div> 
                  <course-loader ng-model="Batches"></course-loader>
              </div>
              
          
        </div>
      </div>
      <div class="panel-footer">
          <button class="btn btn-warning baab-btn" type="reset" ng-disabled="batchAdd.$pristine" >cancel</button>		
	        <button class="btn btn-info baab-btn" ng-disabled="batchAdd.$invalid" >Add Batch</button>
        </form>   
      </div>
    </div>
  </div>
</div>