<div class="col-xs-12">
	<div class="row">
		<div class="tab-container col-xs-12">
		 	<div class="panel b-t b-00C853 bg-light dk">
		 		<div class="panel-heading font-bold text-white bg-00C853 p baab-shadow" translate="{{'Batch Attendance'|translate}}">
		 		
		 		</div>
				
				<div class="panel-body col-xs-12 bg-white p-sm b-b-danger b-b-3x">
					 <div class="col-xs-12 col-sm-12 col-md-12">
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-7 m-t-xs">

								<batch-view ng-if="batchObj.batchDetails" shadow="false" batch="batchObj.batchDetails"></batch-view>
								

							</div>
							
						</div>

					</div>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="row">


							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="formgen-dropdown m-t m-b" >
										<div multi-selectable selection-mode="single"  ng-show="batchObj.materialList.length" input-model="batchObj.materialList" output-model="batchObj.selectedCourseMaterial" button-label="Name" item-label="Name"  tick-property="ticked" helper-elements="all none reset filter" default-label="Please select a course material">	
										</div>  <!-- on-item-click="onItemClick(data)" -->
										<div ng-if="batchObj.materialList.length==0" class="animated fadeIn">
											<!-- <i class="fa fa-spiner fa-spin text-lg text-info"></i> -->
									        <div class="alert ng-scope am-fade alert-button bg-danger lt text-white no-margin" ng-class="[type ? 'alert-' + type : null]" style="display: block;"><!-- ngIf: dismissable -->
									        
									          <strong class="ng-binding" translate="{{'Not Found!'|translate}}"></strong>&nbsp;
									          <span translate="{{'There is no any materials available under this batch'|translate}}"></span>
									        </div>

										</div>
										<div ng-if="status==false" class="animated fadeIn">
											<!-- <i class="fa fa-spiner fa-spin text-lg text-info"></i> -->
									        <div class="alert ng-scope am-fade alert-button bg-danger lt text-white no-margin" ng-class="[type ? 'alert-' + type : null]" style="display: block;"><!-- ngIf: dismissable -->
									        
									          <strong class="ng-binding" translate="{{'Not Found!'|translate}}"></strong>&nbsp;
									          <span translate="{{'There is no any course materials added in this batch.'|translate}}"></span>
									        </div>

										</div>
								</div>

							</div>
							<!--directive to load mentee list of selected batch-->
								<div class="col-xs-12 col-sm-6 col-md-6 m-t">
									<label floating-label translate="{{'User List'|translate}}"></label>
									<div class=" list-group  bg-inherit scrollable" max-height="400px;">
										<div class="animated flipInX">
											<attendance-mentee-list time-line-obj="batchObj.selectedCourseMaterial[0]" r-list="batchObj.userList" ng-model="batchObj.selectedList"> </attendance-mentee-list>
											<!-- <div class="text-center" ng-if="!batchObj.selectedCourseMaterial[0]">
												<i class="fa fa-spinner fa-spin"></i>
											</div> -->
										</div>
									</div>
									<div ng-if="!batchObj.selectedCourseMaterial[0]">
											<!-- <i class="fa fa-spiner fa-spin text-lg text-info"></i> -->
									        <div class="alert ng-scope am-fade alert-button bg-danger lt text-white no-margin" ng-class="[type ? 'alert-' + type : null]" style="display: block;"><!-- ngIf: dismissable -->
									        
									          <strong class="ng-binding" translate="{{'Not selected!'|translate}}"></strong>&nbsp;
									          <span translate="{{'Please select a course material to load the users'|translate}}"></span>
									        </div>

										</div>
								</div>
							</div>

						
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 m-t">
								<div  masonry='{ "transitionDuration" : "0.8s" , "itemSelector" : ".tile"}'>
									<div masonry-tile class="tile col-xs-12 col-sm-6 col-md-6" data-ng-repeat="course in batchObj.selectedCourseList">
				          				<course-element-preview course-id="selectedCourse" preview-data="course.courseElem"></course-element-preview>
				        			</div>
				        		</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>