<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form name="formOnetime" class=" ng-pristine ng-valid"  > 
      <div class="modal-header">        
        <h4 class="modal-title text-primary" translate="{{'Add this batch under the courses'|translate}}"></h4>
      </div>
      <div class="modal-body">
       <div class="row"> 
           <div class="col-xs-12 col-sm-12">
               <div class="form-group">   
                    <div class="row m-l">
                      <div class="form-group" >
                        <course-loader ng-model="Batch.newCourse" multi-select="multi" required   >
                      </course-loader>{{Batch.newCourse}}
                      </div> 
                    </div>
                  </div>
           </div>  
       </div>    
      </div>
      <div class="modal-footer">
         <button type="reset" class="btn btn-primary"  ng-disabled="formOnetime.$pristine" translate="{{'Cancel'| translate}}"></button>
        <button type="button" class="btn btn-primary" ng-click="savepopUpfn($hide)"  ng-disabled="formOnetime.$invalid" translate="{{'Save'|translate}}"></button>

      </div>
     </form> 
    </div>
  </div>
</div>
