<div class="col-xs-12">
	<div class="row">
		<div class="tab-container col-xs-12">
		 	<div class="panel b-t b-00C853 bg-light dk">
		 		<div class="panel-heading font-bold text-white bg-00C853 p baab-shadow" translate="{{'Batch Assignment'|translate}}">
		 		
		 		</div>
			
				<div class="panel-body col-xs-12 bg-white p-sm b-b-danger b-b-3x">
					<div class="col-xs-12 col-sm-4 col-md-4">
						<batch-mentee-list user-list="batchObj.userList"> </batch-mentee-list>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4">
					
					</div>
				</div>
			</div>
		</div>
	</div>
</div>