<div class="col-xs-12 bg-white">
	<div class="row">
		<div class="col-xs-12">
			<form name="academicYearForm" class="form-validation">
				<div class="panel panel-default" style="box-shadow: none;">
			        <div class="panel-heading bg-white  no-padding-v">
			          <h4>Create Academic Year</h4>
			        </div>
			        <div class="panel-body no-padding-v" >
			        	<div class="row row-sm">
				            <div class="col-xs-12 col-md-4">
				            	<div class="form-group">
				            		<input type="text" class="form-control floating-label" placeholder="Enter Academic Year Name" ng-model="academicYearObj.newAcademicYear.academicYearName" required>
				            	</div>
				            </div>
				            <div class="col-xs-12 col-md-4">
				            	<div class="form-group">
				            		<input type="text" class="form-control" placeholder="Select Start Date" autocomplete="off"  data-date-format="dd-MM-yyyy" data-date-type="date" data-autoclose="true"   bs-datepicker ng-model="academicYearObj.newAcademicYear.startDate" required>
				            	</div>
				            </div>
				            <div class="col-xs-12 col-md-4">
				          		<div class="form-group">
				          			<input type="text" class="form-control" placeholder="Select End Date" autocomplete="off"  data-date-format="dd-MM-yyyy" data-date-type="date" data-autoclose="true"  bs-datepicker ng-model="academicYearObj.newAcademicYear.endDate" required>
				          		</div>
				          	</div>
				        </div>
			        </div>
			        <div class="panel-footer no-padding-v bg-white">
			        	<a class="btn btn-info baab-btn" ng-click="createNewAcademicYear(academicYearObj.newAcademicYear)" ng-disabled="academicYearForm.$invalid" disabled="disabled">Create</a>
			        	<a class="btn btn-default baab-btn" ng-click="academicYearObj.newAcademicYear = ''">Reset</a>
			        </div>
		      	</div>
	      	</form>
		</div>
		<div class="col-xs-12">
			<pre>{{academicYearObj}}</pre>
		</div>
	</div>
</div>
