
<div class="col-md-12 bg-white">

<!-- <question-preview preview-data="previewData"></question-preview> -->
<question-field ng-model="form"></question-field>

<div class="col-md-6 bg-white">
20
<percent-indicator total-value="100" obtain-value="20" ng-model="form"></percent-indicator>
30
<percent-indicator total-value="100" obtain-value="40" ng-model="form"></percent-indicator>
60
<percent-indicator total-value="100" obtain-value="60" ng-model="form"></percent-indicator>
80
<percent-indicator total-value="100" obtain-value="80" ng-model="form"></percent-indicator>
100
<percent-indicator total-value="100" obtain-value="100" ng-model="form"></percent-indicator>
</div>

</div>
