
<div class="bg-white" >
<!-- <nav>
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li class="dropdown" ng-repeat="menus in userMenusOrigin"  ng-if="menus.canView || (menus.canView == undefined)"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa {{menus.menuIcon}} fa-md" ></i>&nbsp;{{menus.MenuName}}<span class="caret" ng-if="menus.childMenuStructure.length"></span></a>
          <ul class="dropdown-menu am-fade-and-slide-left" ng-if="menus.childMenuStructure.length">
            <li ><a class="p-v" href="#" ng-repeat="menu in menus.childMenuStructure"  ng-if="menu.canView || (menu.canView == undefined)" ng-click="loadDetails(menu)"><i class="fa {{menu.menuIcon}} fa-md"></i>&nbsp;{{menu.MenuName}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


<!-- <question-preview preview-data="previewData"></question-preview> -->
<!-- <question-field ng-model="form"></question-field> -->

<!-- <percent-indicator total-value="100" obtain-value="100" ng-model="form"></percent-indicator> -->

<!-- <question-group ng-model="questionGroup"></question-group> -->
<!-- <pre>QuestionGroup:{{questionGroup}}</pre> -->


<!-- <feedback-field ng-model="feedbackModel"></feedback-field> -->
<!-- {{feedbackModel}} -->
<!-- <flip-clock ></flip-clock> -->


<!-- <iframe class="" src="http://baabtra.com/games/flappybird"></iframe> -->
<!-- 16:9 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="http://baabtra.com/games/flappybird"></iframe>
</div> -->

<!-- 4:3 aspect ratio -->
<!-- <div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="http://baabtra.com/games/flappybird"></iframe>
</div> -->

<course-selector ng-model="course"></course-selector>

{{course}}

<!-- <assignment-creator ></assignment-creator> -->

<!-- <button ng-click="flipclock=true">Start</button> -->
<!-- <pre>{{flipClock}}</pre> -->

<!-- {{code}} -->
<!-- <attendence-marker user-course-id="userCourseId"></attendence-marker> -->
<!-- <evaluation-loader eval-obj-key="evalId4" evaluator-id="evalatorId"></evaluation-loader> -->

<!-- <feedback-creator ng-model="feedbackFormModel"></feedback-creator> -->
<!-- <pre>{{feedbackFormModel}}</pre> -->

<!-- <feedback-viewer ng-if="feedbackFormModel" feedback-form="feedbackFormModel" feedback-response="feedbackResponse" user-response="userFeedBack"></feedback-viewer> -->


<!-- <pre>{{feedbackResponse}}</pre> -->

	<!-- <user-card ng-if="$root.userinfo" user-id="$root.userinfo.ActiveUserData.roleMappingId.$oid">
	</user-card> -->
	
	<!-- <baabtra-com-profile></baabtra-com-profile> -->

</div>

