<div class="row">
	<div class="col-xs-12">
		<div class="bg-white">

<div class="bg-white p-sm b-b b-2x b-success " >
  <h4 class="no-margin" translate>Add a reseller</h3>
</div>


	        <!-- panel body -->
	        <form role="form" name="resellerInfo" xt-form no-validate class="ng-pristine ng-valid">
		        <div class="panel-body">
		        	<!-- body content -->
		        	<!-- left half -->
		        	<div class="col-xs-12">
		        		<div class="form-group col-xs-12 col-sm-6">
		        			<!-- Email -->              				
                				<input type="text" xt-validate required name="eMail" class="form-control floating-label" placeholder="Email Address" ng-model="reseller.eMail" autocomplete="off"  ng-blur="LoadExistingUserData(reseller.eMail)" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$/" indicate-val="email">                				
              			</div> 	
              				<!-- Password -->
              			<div class="form-group col-xs-12 col-sm-6">              				
                				<input type="password" xt-validate required name="password" class="form-control floating-label" ng-model="reseller.password" indicate-val="required" placeholder="password">
              				</md-input-container>
            			</div>            			
            			
            			<div class="form-group col-xs-12 col-sm-4">
            				 <input type="text" xt-validate required name="contactPerson" class="form-control floating-label" ng-model="reseller.contactPerson" indicate-val="required" placeholder="Contact Person">
            			</div>

              			<div class="form-group col-xs-12 col-sm-4">
			        			<input type="text" xt-validate required name="contactNumber" ng-pattern="/^(\+\d{1,3}[- ]?)?\d{10}$/" class="form-control floating-label" ng-model="reseller.contactNumber"  indicate-val="phone" placeholder="Contact Number" >
              			</div>             				
            			
		        	
		        		<!-- Address -->
		        		<div class="form-group col-xs-12 col-sm-4">
				        			<input type="number" class="form-control floating-label" xt-validate required name="commission" ui-validate=" '$value <= 100' " ng-model="reseller.commission" required  indicate-val="number" placeholder="% of commission">
	              		</div>		        		
			        	<div class="form-group col-xs-12 col-sm-12">
			        			<textarea class="form-control floating-label" ng-model="reseller.address"  placeholder="address"></textarea>
			        	
		        		</div>
		        	</div>
		        </div>

		        <div class="panel-footer text-right" layout="row" layout-align="space-between end">
		        	<button class="btn btn-warning baab-btn" type="reset" ng-disabled="resellerInfo.$pristine">cancel</button>		
	            	<button class="btn btn-info baab-btn" ng-disabled="resellerInfo.$invalid" ng-click="insertResellerDetails(reseller)">Add Reseller</button>
	          	</div>
          	</form>
	    </div>
	</div>
</div>