<div class="col-xs-12 p">

	<div class="col-xs-12 m-v-lg">
		<div class="paper-dropdown">
		<select ng-change="changeNumberingType()" placeholder="Select numbering type" data-animation="am-fade-and-slide-top"  ng-model="selectedNumbering" ng-options="value.name for (key, value) in optionsArray" data-html="true" bs-select></select>
		</div>
	</div>

		<div class="col-xs-12" ng-repeat="(key,val) in answers track by key">
			<div class="col-xs-12 col-sm-6">
			<paper-input-decorator label="Option {{selectedNumbering.value[$index]}}." floatinglabel="">
			  	<input is="core-input" ng-change="ansChanged(answers[$index].value,$index)" name="questionTitle" ng-model="answers[$index].value">
		    </paper-input-decorator>
		    <paper-icon-button class="pull-right" style="margin-top:-40px;margin-right:-10px;" icon="menu" data-placement="left" bs-dropdown="dropDown($index)">
			</paper-icon-button>
			</div>
			<div class="col-xs-12 col-sm-6">
		    <paper-input-decorator label="Why / Why not this answer (optional)" floatinglabel="">
			  	<input is="core-input" ng-change="ansChanged(answers[$index].value,$index)" name="questionTitle" ng-model="answers[$index].why">
		    </paper-input-decorator>
			</div>
			
    	</div>

</div>