<div  class="modal modal-full-width" tabindex="-1" role="dialog">
    <div class="modal-dialog-full-width  modal-full-width">
      <div class="modal-content">
        <div class="p bg-info font-bold baab-shadow">
          Design Marksheet
        </div>
        <div class="modal-body">
          <pre>{{data.selectedCourse.syllabus}}</pre>
          <div data-angular-treeview="true" data-tree-id="syllabusTree" data-tree-model="data.selectedCourse.syllabus" data-node-id="nodeId" data-node-label="name" data-node-children="children" ></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary baab-btn" ng-click="$hide()">Cancel</button>
          <!-- <button type="button" class="btn btn-primary baab-btn"><i class="fa fa-download" ></i>&nbsp;Download</button> -->
          <button type="button" class="btn btn-success baab-btn" ng-click="">Save</button>
        </div>
      </div>
    </div>
</div>