<div class="aside" ds-placement="top" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header">
        <h4 class="aside-title" >Select Form To Customize</h4>
      </div>
      <div class="aside-body" >

        <div class="list-group  bg-inherit">
              
             <h4> <a href ng-click="fnselectForm(form);$hide()"  class="list-group-item animated flipInX" ng-repeat="form in formlist" >
                {{form.formName}}
              </a></h4>
            </div>
        
      </div>
      <!-- <div class="aside-footer">
        
      </div> -->
    </div>
  </div>
</div>
