<div class="col-xs-12  bg-white">

	
	
  <div  class="col-xs-12 col-md-6 panel-body">
    <button type="button" class="btn btn-lg btn-danger ng-scope" data-template="angularModules/form/aside/aside-formSelector.html" data-placement="left" data-animation="am-slide-left aside-open-backdrop" bs-aside="aside" ng-click="getFormList()" data-container="body">Select Form To Configure
    </button>
	
	</div>
	

	<div ng-show="selectFormcheck" class="col-xs-12 col-md-6 panel-body">
    <div class="panel b-light">
        <div class="panel-heading b-b b-light">
         {{customForm.formDisplayName}} Form Details
        </div>
        
      <div class="panel-body">
        <form name="formCustomizer" class="form-validation" role="form" xt-form editable-form novalidate>
        <div class="form-group ">
         <input type="text"class="form-control" placeholder="Form Name" readonly xt-validate required name="formName"  ng-model="customForm.formName">
        </div>
        <div class="form-group ">
         <input type="text"class="form-control" msg-pattern="Enter the Form Display Name"placeholder="Form Display Name" xt-validate required name="formDisplayName"  ng-model="customForm.formDisplayName" indicate-val="required">
        </div>
        <div class="form-group pull-left form-group col-xs-6">
          <input type="text"msg-pattern="Enter Step Name (Minimum 1)"placeholder="Enter New Step Name" xt-validate class="form-control" name="stepName" ng-minlength="1" ng-model="stepName" >
        </div>

        <div class="form-group pull-left col-xs-6 ">
          <i ng-disabled="formCustomizer.$invalid||stepName===null||stepName===undefined" ng-click="fnCreateStep(stepName)"  class=" btn fa fa-plus-square  text-2x"></i> </div>

        </form>
      </div>
	 </div>

	 </div>

    <div ng-show="selectFormcheck"  class="col-xs-12" > 
      The first step will be the mandatory form .It is not configurable 
  </div>
    <div ng-show="selectFormcheck" class="col-xs-12 panel b-light panel-body">
      <div  class="font-bold col-xs-12" > 
             {{customForm.formDisplayName}} Steps  <em>click to Configure</em> <hr>
    </div>
      
            
            <!-- <button  ng-class="{'active':status.selected === $index+1}"  ng-click="status.selected = $index+1" href ng-repeat="i in customForm.formSchema" class="btn btn-rounded btn-stroke btn-primary pos-rlt m-r-md  m-b">{{customForm.formSchema[$index+1].stepName}} &nbsp <i class="fa fa-trash" ng-click="fnDeleteStep($index+1)"></i></button> -->

            <div class="col-md-2 panel b-light panel-body m-r-md  m-b" ng-class="{'bg-info':status.selected === $index+1}"  ng-click="status.selected = $index+1" href ng-repeat="i in customForm.formSchema">{{customForm.formSchema[$index+1].stepName}} &nbsp <br><a href class="pull-right fa fa-trash" ng-click="fnDeleteStep($index+1)"></a></div>
       
            <button ng-disabled="formCustomizer.$invalid||stepCustomForm.$invalid||(customForm.formSchema[status.selected].stepFormSchema.fields=== undefined)||customForm.formSchema[status.selected].stepFormSchema.fields.length ===0" ng-click="fnSaveCustomForm()" class="col-sm-12  pull-right btn w-xs btn-primary">Save </button>

      <!-- <pre>{{status.selected}}</pre> -->
    </div>
  
    <div ng-show="selectFormcheck"  class="font-bold col-xs-12" > 
              Design {{customForm.formDisplayName}} {{customForm.formSchema[status.selected].stepName}}<hr>
    </div>




  <div ng-show="selectFormcheck" class="col-xs-12 bg-white">
        <form name="stepCustomForm" class="form-validation" role="form" xt-form editable-form novalidate>

    <div class="form-group ">
          <input type="text" msg-pattern="Enter Step Name (Minimum 1)"placeholder="Selected Step Name" xt-validate required class="form-control" name="stepName" ng-minlength="1" ng-model="customForm.formSchema[status.selected].stepName" >
    </div>

    </form>
    <form class="form-horizontal">
      <div fg-edit fg-schema="customForm.formSchema[status.selected].stepFormSchema"></div>
    </form>
  </div>

</div>

<!-- <div  class="col-md-12 bg-white">
<form novalidate class="form">
  <div fg-form
       fg-form-data="myFormData"
       fg-schema="formStep[status.selected].stepFormSchema">
  </div>
</form>

</div> -->

















