
<div>
    <div  style="position:fixed; width:101%; z-index:10000; margin-top:-290px;" >

		<div ng-if="startTest && !examFinished && isMentee" class="col-xs-12">
			<div class="font-bold col-xs-1 text-md m-t-md">Time Left :</div>
			<div >
				<flip-clock countdown="true" count-down-time="countDownTime"></flip-clock>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		
		<percent-indicator ng-if="examFinished" show-percentage="true" total-value="dataValue.value.mark.totalMark" obtain-value="courseElement.markScored" ng-model="form"></percent-indicator>

		<div ng-hide="startTest==true" class="col-xs-12 text-center">
			<div class="btn btn-warning"  ng-click="startTimer()">Click to Start Test<div class="ripple-wrapper"></div>
         	</div>
        </div>
		<div ng-if="startTest">
		<div  ng-repeat="question in dataValue.value.testModel">
				
					
					<test-question-view  data="{{fnFormatObj(question)}}" index="index" multi-answer="true" question-response="questionAnswer[start+$index]" question-index="$index+1" course-element="courseElement"></test-question-view>


		</div>

		
        <div class="col-xs-12 text-center" ng-if="noOfQuestions==stop">
			<div ng-if="isMentee&&!examFinished" class="btn btn-danger pull-right" ng-click="submitModalshowModal()" translate="{{'Submit'|translate}}"><div class="ripple-wrapper"></div>
         	</div>

        </div>
        </div>
		
	</div>
</div>