
<div>
	<div class="col-xs-12">
		<!-- <percent-indicator ng-if="examFinished" show-percentage="true" total-value="totalMark" obtain-value="" ng-model="form"></percent-indicator> -->
		<div ng-hide="startTest==true" class="col-xs-12 text-center">
			<div class="btn btn-warning"  ng-click="startTimer()">Click to Start Test<div class="ripple-wrapper"></div>
         	</div>
        </div>

        <!-- <pre>{{questionAnswer}}</pre> -->
		
		<div ng-if="startTest">
		<div  ng-repeat="question in dataValue.value.testModel.slice(start,stop)">
				<test-question-view  data="{{fnFormatObj(question)}}" index="innerIndex" multi-answer="true" question-response="questionAnswer[start+$index]" course-element="courseElement"></test-question-view>
				{{question}}
				<div ng-if="question">

				</div>
				<div ng-if="">

				</div>
				


		</div>

		<div class="col-xs-12 text-center" ng-if="start==0&&noOfQuestions!=stop">
			<div class="btn btn-info" ng-click="questionChangeNext(start,stop)">Next<div class="ripple-wrapper"></div>
         	</div>
        </div>
        <div class="col-xs-12 text-center" ng-if="start>0&&stop<noOfQuestions">
        	<div class="btn btn-info " ng-click="questionChangePrevious(start,stop)">Previous<div class="ripple-wrapper"></div>
         	</div>
			<div class="btn btn-info" ng-click="questionChangeNext(start,stop)">Next<div class="ripple-wrapper"></div>
         	</div>
        </div>
        <div class="col-xs-12 text-center" ng-if="noOfQuestions==stop">
        	<div ng-if="dataValue.value.questionView.mode=='multiple'" class="btn btn-info pull-left" ng-click="questionChangePrevious(start,stop)">Previous<div class="ripple-wrapper"></div>
         	</div>
			<div ng-if="isMentee" class="btn btn-danger pull-right" ng-click="submitTest()">Submit<div class="ripple-wrapper"></div>
         	</div>
        </div>
        </div>
		
	</div>
</div>