<div class="col-xs-12">
<div class="form-group">
  <div class="col-xs-12">
    <select class="form-control" ng-model="College"  ng-change="selectcourse(College)" ng-options="list.companyName for list in lists">
      <option value="" >Select College</option>
    </select>    
    <select class="form-control" ng-model="Course" ng-change="select(Course)"  ng-options="course.text for course in courses">
       <option value="">Select Course</option>
    </select>         
  </div>
</div>        
</div>
