<div>
<ul ng-mouseenter="viewAllBubble(elements.length,elements[0].Name)"ng-mouseleave="viewAllBubble(1)"  ng-repeat="elements in timeLineView[tlpoint]" class="timeline-outer-container m-b" ng-class="{'timeline-center': center}">
	<li  ng-click="manageCourseElement(element,tlpoint,$index);" class="timeline-item " ng-repeat="element in elements" ng-if="($index+1) < showBubble" >
		<i data-animation="am-fade" data-template="angularModules/courseTimeline/templates/courseElemContextMenu.html" data-placement="right" bs-dropdown="dropdown" class="iconCustomBg ui-icon fa {{element.Icon}} b-white b-2x text-lg bg-info am-fade" style="background-color: {{element.iconBackground}}!important; color: {{element.iconColor}}!important;border-radius: 12px;z-index: 1;">
			<md-tooltip>{{element.elements[0].value}}</md-tooltip></i>

		<b ng-if="elements.length != count && elements.length > 1" class="badge bg-danger up bubble-nottification" style="margin-left: 15px;position: relative;z-index: 2;">
		{{elements.length}}</b>
	</li>
</ul>
</div>
<!-- style="float:left !important;width:0px !important;margin-left: -13px !important;margin-bottom: 15px;!important;margin-right:{{count*5}}px;" -->

<!-- style="background-color: {{element.iconBackground}}!important; color: {{element.iconColor}}!important;border-radius: 12px;cursor: pointer;" -->