<div class="row shadow-z-1 p bg-white">
	<div class="col-xs-12 col-md-6">
		<!-- batch Name -->
		<div class="upper font-bold text-md">{{batch.batchName}}</div>
		<div>Starting date: {{dateConvertion(batch.startDate.$date)}}</div>
		<div class="row">
			<div class="col-xs-6">Total joinings: {{batch.totalJoining}}</div>
			<div class="col-xs-6 visible-md visible-xs">
				<a class="btn btn-success baab-btn " ng-click="executeFunction(actions[specificOption-1].click)" ng-bind-html="actions[specificOption-1].text"></a>
			</div>
		</div>
	</div>
	<div class="col-xs-6 text-right hidden-md hidden-xs">
		<a class="btn btn-success baab-btn " ng-click="executeFunction(actions[specificOption-1].click)" ng-bind-html="actions[specificOption-1].text"></a>
	</div>
</div>