

<div class="col-xl-12">
      <div class="panel panel-default ">
        <div class="panel-heading bg-white font-bold">
        User Feature Configuration<br>
        </div>
        <div class="panel-body">
        <div class="col-md-4 m-t-lg">
         <div class="font-bold" > 
           Features<hr>
         </div>
        

      	</div>
          
        <div class="col-md-8 m-t-lg">
         <div class="font-bold" > 
           Configure {{feature.featureName}}<hr>
         </div>
         <form sf-schema="schema" sf-form="form" sf-model="model"></form>

      	</div>
            
            

        
      		
      		




        </div>
      </div>
    </div>