

<div class="col-xl-12">
      <div class="panel panel-default ">
        <div class="panel-heading bg-white font-bold">
        User Feature Configuration<br>
        </div>
        <div class="panel-body">
        <div class="col-md-4 m-t-lg">
         <div class="font-bold" > 
           Features<hr>
         </div>
         <div class=" list-group  bg-inherit">
              <div class="animated flipInX">
        			<div  class="list-group-item " ng-click="selected = !selected; fConfig(feature)" ng-repeat="feature in featurelist">
          			<a class="pull-right text-muted"><i ng-show="!selected" class=" fa fa-check-circle "></i><i ng-show="selected" ng- class=" fa fa-check-circle text-primary"></i></a>
          			{{feature.featureName}}
        			</div>
              </div>
      			</div>
        

      	</div>
          
        <div class="col-md-8 m-t-lg">
         <div class="font-bold" > 
           Configure {{feature.featureName}}<hr>
         </div>
         <form sf-schema="schema" sf-form="form" sf-model="model"></form>

      	</div>
            
            

        
      		
      		




        </div>
      </div>
    </div>