<div class="p-md m-v-md shadow-z-1">



<!-- style="background:#F3E5F5;border:1px solid #ff4081" class="p-sm"  -->



<ul class="nav nav-tabs p m-v-md">
  <li   role="presentation" ng-class="{'b-b b-yellow b-2x':selectedTab=='question'}" ng-click="selectedTab='question'"><a href="#">Question</a></li>
  <li   role="presentation" ng-class="{'b-b b-yellow b-2x':selectedTab=='answerType'}" ng-click="selectedTab='answerType'"><a href="#">Answer type</a></li>
  <li   role="presentation" ng-class="{'b-b b-yellow b-2x':selectedTab=='answers'}" ng-click="selectedTab='answers'"><a href="#">Answers</a></li>
  <li   role="presentation" ng-class="{'b-b b-yellow b-2x':selectedTab=='marks'}" ng-click="selectedTab='marks'"><a href="#">Marks</a></li>
</ul>


	<!-- <paper-tabs selected="0" class="pink">
	  <paper-tab ng-click="selectedTab='question'">Question </paper-tab>
	  <div  class="icon-container-inactive" ng-class="{'icon-container-active':selectedTab=='question'}"><core-icon icon="arrow-forward"></core-icon></div>
	  <paper-tab ng-click="selectedTab='answerType'">Answer type</paper-tab>
	  <div  class="icon-container-inactive" ng-class="{'icon-container-active':selectedTab=='answerType'}"><core-icon icon="arrow-forward"></core-icon></div>
	  <paper-tab ng-click="selectedTab='answers'">Answers</paper-tab>
	  <div  class="icon-container-inactive" ng-class="{'icon-container-active':selectedTab=='answers'}"><core-icon icon="arrow-forward"></core-icon></div>
	  <paper-tab ng-click="selectedTab='marks'">Marks</paper-tab>
	</paper-tabs> -->





				<div ng-show="selectedTab=='question'" >
				
      					<input class="form-control floating-label" type="text" placeholder="Question Title (optional)" name="questionTitle" ng-model="question.title">
    		
    					<div class="m-v-lg">
	    					<em class="text-muted">Question</em>
	      					 <ng-quill-editor name="questionDesc" ng-model="question.question"  toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="font size bold list bullet italic underline strike align color background link image" required xt-validate editor-required="true" error-class="input-error"></ng-quill-editor>
	      				</div>
	    			
				</div>
				<div class="col-xs-12 pull-left" ng-show="selectedTab=='answerType'" >

						 <div class="radio radio-success pull-left">
				            <label>
				              <input type="radio" ng-checked="question.type=='objective'" ng-change="questionTypeChange('objective')" value="objective"  ng-model="question.type"  name="questionType">
				              Objective
				            </label>
				        </div>

				        <div class="radio radio-success pull-left m-l" style="padding-top:15px;">
				            <label>
				              <input type="radio" ng-change="questionTypeChange('descriptive')" ng-checked="question.type=='descriptive'" value="descriptive" ng-model="question.type"   name="questionType">
				              Descriptive
				            </label>
				        </div>


						<div class="col-xs-12 p" ng-if="question.type=='objective'">

							<div class="radio radio-success pull-left">
					            <label>
					              <input type="radio" ng-checked="question.answerType=='singleAnswer'" value="singleAnswer"  ng-model="question.answerType"  name="answerType">
					              Single Answer
					            </label>
					        </div>

					        <div class="radio radio-success pull-left m-l" style="padding-top:15px;">
					            <label>
					              <input type="radio"  ng-checked="question.answerType=='multiAnswer'" value="multiAnswer"  ng-model="question.answerType" name="answerType">
					              Multi Answer
					            </label>
					        </div>

						</div>
				</div>


				<div class="col-xs-12 pull-left" ng-show="selectedTab=='marks'">
					<div class="col-xs-12">
						<mark-fields-input custom-marks="question.type=='descriptive'" mark-obj="question.mark" ></mark-fields-input>
					</div>
				</div>


				<div class="col-xs-12 pull-left"  ng-show="selectedTab=='answers'">
						<div class="col-xs-12">
							<objective-options-field ng-if="question.type=='objective'" answers="question.options"></objective-options-field>


							<div ng-if="question.type=='objective'&&question.answerType=='multiAnswer'" class="col-xs-12 m-v-lg">
								<div  multi-selectable input-model="optionsTemp" output-model="question.answer" button-label="Name" item-label="Name" tick-property="ticked" helper-elements="all none reset filter">
		      					</div>
							</div>
							
	      					<div ng-if="question.type=='objective'&&question.answerType=='singleAnswer'" class="col-xs-12 m-v-lg">
								<div class="paper-dropdown">
								<select required xt-validate placeholder="Select an answer" data-animation="am-fade-and-slide-top"  ng-model="question.answer[0]" ng-options="value.Name for (key, value) in optionsTemp" data-html="true" bs-select></select>
								</div>
							</div>

							<div ng-if="question.type=='descriptive'" class="col-xs-12 m-v-lg">
								<div class="p-v-sm">
									Primary answer template:<br>
									<em>(Primary answer template will be shown to the candidate when he tries to answer this question.)</em>
									<!-- <div class="paper-dropdown">
										<select  placeholder="Select a primary answer field"  ng-model="question.primaryAnswer" required xt-validate ng-options="value.Name for (key, value) in answerTypes" data-html="true" bs-select></select>
		      						</div> -->
		      							<div  multi-selectable ng-if="answerTypesSecond" input-model="answerTypes" output-model="question.primaryAnswer" button-label="Name" item-label="Name" required xt-validate tick-property="ticked" helper-elements="all none reset filter">
		      							</div>
										<br>
									</div>
									
								</div>
								<div ng-if="question.type=='descriptive'" class="p-v-sm">
									Embeddable fields:<br>
									<em>(Embeddable fields can be added to the answer template by the candidate if needed.)</em>
									<div  multi-selectable ng-if="answerTypesSecond" input-model="answerTypesSecond" required xt-validate output-model="question.secondaryAnswer" button-label="Name" item-label="Name" tick-property="ticked" helper-elements="all none reset filter">
		      						</div>
		      					</div>
								
							</div>
						</div>

				</div>


				


</div>