<div ng-class="{'hide-elem':totalDuration==0}">
<!-- Duration dropdown -->
<div class="row-fluid">
	<div class="col-sm-12">

		
        <div class="col-sm-3 form-group form-group-sm">
        	<label>Duration :</label>
        	{{duration}}
        	<button ng-if="ddlBindObject!=undefined" type="button" class="btn btn-default btn-sm ng-pristine ng-valid" ng-model="selectedDuration" data-html="1"  ng-change="changeDuration(this.selectedDuration)" ng-options="value.id as value.name for (key, value) in durationIn" bs-select=""></button></div>
	</div>
</div>
<!-- Duration dropdown .End-->

<!-- Timeline -->

<div class="row-fluid">

	<div perfect-scrollbar suppress-scroll-y="true" class="col-sm-12 tl-container">
			<!-- START -->
			{{flag}}
			<span class="badge bg-success pos-rlt pull-left tl-start"><b class="arrow right b-success pull-in"></b>S</span>
			                
			<!-- REPEAT -->		<span style="padding-left:{{tlPointMinWidth}}px;"class="b-b tl-line" ></span>
								<div ng-mouseover="mouseOverTl=true" ng-mouseleave="mouseOverTl=false" style="display:inline-block;" ng-repeat="tlpoint in tlPointList">
								<i  context-menu="popoverObject" ng-click="callbackOfTlPointClick(tlpoint)" class="fa fa-circle-o text-inverse tl-point" ng-class="{'fa-dot-circle-o tl-ripple':mouseOverTl}" style="cursor: pointer;font-weight: bolder;position: relative;z-index: 1;" data-placement="top" data-type="success" data-html="true" data-animation="am-fade-and-scale" bs-tooltip></i>
								<span style="padding-left:{{tlPointMinWidth}}px;left:-3.6px;z-index: 0;" class="b-b tl-line" ></span>
								<div ng-show="mouseOverTl" style="margin-top: -50px;margin-left:-{{tlPointMinWidth}}px" class="tooltip in ng-scope top am-fade-and-scale tooltip-success"><!-- <div class="tooltip-arrow"></div> --><div class="tooltip-inner ng-binding" >{{selectedDurType}} {{$index+1}}</div></div>
								<div ng-repeat="element in tlElements">
									<ul ng-if="syncData[element[0]][element[1]][tlpoint/ddlBindObject[selectedDuration-1].mFactor]" class="timeline">
								    <li class="tl-item">
								      <div class="tl-wrap b-info" style="margin-left: 3px!important;">
								      	<span class="tl-date text-muted">7:30 am</span>
								      </div>
								    </li>
								</ul>
								</div >
								</div>



			<!-- END -->
			<div class="end-of-tl"></div> <!-- used for getting the end of the tl points -->
			<span class="badge bg-danger pos-rlt tl-end" ng-if="!toBeLoaded"><b class="arrow left b-danger pull-in"></b>E</span>
			<!-- LOADER	 -->
			<i class="fa fa-spinner fa-spin " ng-if="toBeLoaded"></i>
	</div>
</div>
<!-- Timeline .End-->

</div>